[2020-09-08 07:21] #1075 closed

[2020-09-08 08:53] fokot commented on #1004
No, asset links were the issue. I also needed to use Asset Link Tool and add all fingerprints as in the documentation you posted.

[2020-09-08 10:17] radubirsan commented on #1076
I have to say after spending 3 hours to get this working I am thinking native development is the way to go

[2020-09-08 16:16] lee-leonardo commented on #1074
@julianborghuis could we get the url for your app? We can't triage the issue without seeing what our system is analyzing.

[2020-09-08 16:21] mattpolanieckidev commented on #1076
I think the main challenge I'm facing is getting the .well-known directory to be publicly accessible. The site is hosted in Gihub but adding the config.yml file did not help. Is there a way to point the browser to look at a different directory instead of .well-known?

[2020-09-08 16:22] julianborghuis commented on #1074
kwebbelweb.nl

[2020-09-08 16:25] lee-leonardo commented on #1051
verified in prod

[2020-09-08 16:25] #1051 closed

[2020-09-08 16:43] JudahGabriel commented on #1076
@mattpolanieckidev To hide the status bar, you'll need to specify the display mode in Android options dialog:

Click Options here:
![image](https://user-images.githubusercontent.com/312936/92504535-ab17e300-f1b7-11ea-80ce-d34bc81b2623.png)

Then change display mode to full screen:
![image](https://user-images.githubusercontent.com/312936/92504597-bd921c80-f1b7-11ea-8723-605cb5ee338b.png)

[2020-09-08 16:49] JudahGabriel commented on #1076
@radubirsan I'm sorry you struggled for 3 hours! That means we failed. What were you struggling with? I want to help you get through this, and make it easier for others. Was it related to the address bar showing in Android?

[2020-09-08 16:57] mattpolanieckidev commented on #1076
My option was set to fullscreen in PWAbuilder and in the manifest.json file. Should I try Webview or Custom tabs?

[2020-09-08 16:59] JudahGabriel commented on #1074
I'm able to repro. @lee-leonardo and @jgw96 looks like we're getting 422 Unprocessable Entity for kwebbelweb.nl.

@julianborghuis we'll investigate this and get back to you.

[2020-09-08 17:03] julianborghuis commented on #1074
how long does this takes,

Also the background service worker dont work, i am geting error in f12:

pwabuilder-sw.js:2 Uncaught ReferenceError: importScripts is not defined
    at pwabuilder-sw.js:2

[2020-09-08 18:38] JudahGabriel commented on #1076
@mattpolanieckidev No, webview or custom tabs is fallback behavior when Android Trusted Web Activity isn't available. Can you clarify, is the address bar issue fixed now for you?

@andreban is there anything Matt needs to do to get fullscreen mode working? Are there any other requirements?

[2020-09-08 18:41] JudahGabriel commented on #1078
How is your authentication working - user name and password, or single sign-on (e.g. login with Microsoft)?

I would expect your PWA to use whatever classic Edge is using. Good news: we are working to [update the Microsoft Store platform on PWABuilder to use the new Chromium-based Edge](https://github.com/pwa-builder/PWABuilder/issues/787). Currently, your PWA runs under classic Edge rendering eng

[2020-09-08 18:48] JudahGabriel commented on #1074
at pwabuilder-sw.js:2

Looking at kwebbelweb.nl, you have a broken script:
![image](https://user-images.githubusercontent.com/312936/92515532-a4459c00-f1c8-11ea-9551-d49b415a68a1.png)

Your code should simply look like this:

[code]

That code snippet will load pwa-update, which will load pwabuilder-sw.js. It's the only code you need to add. Remove the `<script type="module" src=pwabuilder-sw.js">

[2020-09-08 18:50] JudahGabriel commented on #1074
No promises, but I hope to have this fixed for you this week.

[2020-09-08 18:56] julianborghuis commented on #1074
that should be fixed now, can you check

[2020-09-08 18:57] JudahGabriel commented on #1071
@camoralb yep, the issue is that your manifest contains escaped URLs:

[code]

You need to fix that, then your MacOS package will work. I'm closing this for now, but do let us know if you have more issues after you fix the URLs in your manifest.

[2020-09-08 18:57] #1071 closed

[2020-09-08 19:36] JudahGabriel opened #1079 "Error generating Appx package"
When generating the Windows package for [https://studentuwas.zenitant.com.sg:448/](https://studentuwas.zenitant.com.sg:448), the Windows package generation throws a 500 error.

Steps to reproduce the behavior:
1. Go to pwabuilder.com
2. Analyze https://studentuwas.zenitant.com.sg:448/
3. Build My PWA
4. Click Windows -> Generate. You'll see an error: "Package building error. F12 dev tools shows th

[2020-09-08 20:07] JudahGabriel commented on #996
Glad your issue is fixed!

With regards to Samsung Browser, I'll need to check with the Google team to see whether Android Trusted Web Activities (TWA) are fully supported in their browser. @davrous do you know?

In the meantime, @My2Eway, if you need Samsung support without the browser address bar, please open a new issue for that. 👍

[2020-09-08 20:07] #996 closed

[2020-09-08 20:12] andreban commented on #1076
@radubirsan, sorry to hear that. Digital Asset Links configuration is indeed harder than we'd like - this is a rough corner that's inherited from native and also necessary when building native apps to get them to handle links to your domain, amongst other things.

@mattpolanieckidev @JudahGabriel setting the correct value on`twa-manifest.json`should be enough. If we have access to the configuratio

[2020-09-08 20:25] Gl1tch42 opened #1080 "Error generating androidTWA package: Invalid header value char"
I received the following error when generating a package for https://upnewsbr.com/

[2020-09-08 20:33] deltakosh opened #1081 "Service worker is not detected"
**Describe the bug**
PWABuilder is failing detecting my service worker

**To Reproduce**
Use https://www.urzagatherer.app

**Expected behavior**
Service worker is detected

**Screenshots**
![image](https://user-images.githubusercontent.com/1306056/92524937-c98dd680-f1d7-11ea-8402-41fb1bf57735.png)

[2020-09-08 20:43] deltakosh opened #1082 "Focus is jumping out of text fields when editing Android options"
**Describe the bug**
Unable to use android option text boxes

**To Reproduce**
Go to app version and try to enter 2.2.6

**Expected behavior**
I should be able to enter my version :)

**Screenshots**
![image](https://user-images.githubusercontent.com/1306056/92525023-f4782a80-f1d7-11ea-8716-0bc72c1359d4.png)

[2020-09-08 20:55] valesist opened #1083 "Error generating androidTWA package: Unable to parse color from string"
I received the following error when generating a package for https://quantomancaanatale.com

[2020-09-08 21:20] JudahGabriel commented on #1001
Implemented in dev, merging to master today.

[2020-09-08 21:20] #1001 closed

[2020-09-08 21:27] JudahGabriel commented on #1083
A couple issues:

1. Your manifest is missing [theme_color](https://www.w3.org/TR/appmanifest/#theme_color-member) and [background_color](https://www.w3.org/TR/appmanifest/#background_color-member). Add those to your manifest.

2. Some of the images in your manifest are busted. For example, your manifest specifies a [https://www.quantomancaanatale.com/images/windows10/SplashScreen.scale-200.png.pn

[2020-09-08 21:59] JudahGabriel commented on #1082
Thanks for the bug report. This is a duplicate of #1051. We've fixed this and deployed the update. 😎

[2020-09-08 21:59] #1082 closed

[2020-09-08 22:23] JudahGabriel commented on #1081
This has been fixed. I just tested your URL and the service worker was detected. Can you try it yourself and verify?

[2020-09-08 22:25] JudahGabriel commented on #1080
Looking at your site, it doesn't appear to have either a service worker or a manifest. Your app should be a progressive web app -- having a service worker and manifest -- before you attempt to generate an Android app.

I recommend adding a service worker and manifest, then try again.

[2020-09-08 22:30] #971 closed

[2020-09-08 22:33] deltakosh commented on #1081
Yep it worked now :) thanks!

[2020-09-08 22:33] #1081 closed

[2020-09-08 23:22] JudahGabriel commented on #1074
If I bring up kwebbelweb.nl in Edge Dev Tools, I see "Cannot use import statement outside a module":

![image](https://user-images.githubusercontent.com/312936/92536745-4f694c00-f1ef-11ea-939e-d1647bd7eb59.png)

The reason for that is, you need that code inside a `<script type="module">`. Here's what that code should look like:

[code]

[2020-09-08 23:24] JudahGabriel commented on #1074
Just to clarify, we have a bug in manifest detection for https://kwebbelweb.nl.

You should still fix your service worker registration as described above, though.

[2020-09-09 00:46] JudahGabriel commented on #976
@MrVibe Please open a separate issue.

[2020-09-09 01:20] JudahGabriel commented on #1073
I'm able to repro: PWABuilder isn't detecting the manifest for https://KwebbelWeb.nl

[2020-09-09 04:51] julianborghuis commented on #1074
Fixed, can you check

[2020-09-09 05:11] istaka opened #1086 "Error generating androidTWA package: unable to verify the first certificate"
I received the following error when generating a package for https://ygc.istaka.store.

At the time of validating, I get all checked for security

Uses HTTPS URL 10
Valid SSL certificate is used 5
No "mixed" content on page 5

[2020-09-09 05:39] IntegralSolutions-Asia commented on #1079
We added the manifest file and attached the file and screenshot herewith.

![PWA - Final](https://user-images.githubusercontent.com/70995386/92558690-b7ba3b00-f28c-11ea-881d-d4057f90b180.jpg)

[manifest.zip](https://github.com/pwa-builder/PWABuilder/files/5192814/manifest.zip)

[2020-09-09 06:12] julianborghuis commented on #1074
[code]

I get that error in devtools if i use Background Sync service worker, why!?

I let it now on my server so you can also see the errors

If you have seen enough i put the normal service worker back, so we can use a little of our pwa

[2020-09-09 06:24] David-My2eWay commented on #996
@JudahGabriel do you mean i need to create a new issue on github for pwa samsung support ? (and close this one #996) ?

[2020-09-09 13:13] mattpolanieckidev commented on #1076
I am still having the address bar appear. I'm only aware of manifest.json...is there supposed to be a twa-manifest.json?

Here is the link to the repo: https://github.com/mattpolanieckidev/mattpolanieckidev.github.io/tree/master/dailydaf

I really appreciate your help with this.

[2020-09-09 13:27] davrous commented on #1086
Hello,

Your manifest doesn't seem valid. It contains unknown properties at the beginning such as ecosystem_url and I'm wondering if it's not causing issues with Bubblewrap trying to parse your manifest. Why are you adding those additional properties? Can you please try with a more classic manifest and tell us if it's fixing the issue?

Thanks.

[2020-09-09 13:32] andreban commented on #1076
That's generated by PWA Builder and should be in the zip you downloaded.

[2020-09-09 13:41] mattpolanieckidev commented on #1076
That's interesting.. the only files in the download are the following:

assetlinks.json
Readme.html
the .apk
signing.keystore
signing-key-info.txt

[2020-09-09 13:49] davrous commented on #1076
assetlinks.json is the file you need to put in place in your .well-known folder which is already your case: https://mattpolanieckidev.github.io/dailydaf/.well-known/assetlinks.json

The only potential remaining issue is that you let the Google PlayStore re-sign your APK which has then generated a key different from the one used by PWA Builder to generate the assetlinks.json. If the keys don't matc

[2020-09-09 14:31] mattpolanieckidev commented on #1076
Here is the link to the app: https://play.google.com/store/apps/details?id=io.github.mattpolanieckidev.twa&hl=en

I believe I already matched the new SHA fingerprint but would be happy to be wrong. Thanks for looking into this further with me.

[2020-09-09 14:42] davrous commented on #1076
Thanks for sharing! The digital asset link matches the one from the Play Store. So the issue is coming somewhere else. @andreban , if you have a debugging tool to find why the TWA still displays the address bar, it would help :)

[2020-09-09 16:01] andreban commented on #1076
The assetlinks.json file should be available at https://mattpolanieckidev.github.io/.well-known/assetlinks.json, but this URL 404's.

[2020-09-09 16:02] istaka commented on #1086
Thanks David, Let me give it a try without these properties and update you

One thing I observed is that it works for https://istaka.store which has
the same manifest file format! The difference between two is: istaka.store
goes through cloudflare proxy and ygc.istaka.store runs with
letusencrypt certificate directly

On Wed, 9 Sep 2020 at 18:57, David Rousset <notifications@github.com> wrote:

--

[2020-09-09 16:05] davrous commented on #1076
Oh you're right! It must be at the root level, good catch @andreban !

[2020-09-09 17:35] davrous commented on #1076
@mattpolanieckidev can you please copy your file at the right path and check it it's solving the issue? Thanks!

[2020-09-09 20:35] mattpolanieckidev commented on #1076
Yay! That was it! Fixed up the address bar and status bar from appearing. I thought assetlinks had to be in the root relative to the application.

Can't thank you enough for this tremendous support. Now I can publish more apps :)

[2020-09-09 20:35] #1076 closed

[2020-09-09 22:22] JudahGabriel commented on #1049
I've implemented this in dev, it's now in a pull request. This should roll out to production this week. https://github.com/pwa-builder/CloudAPK/pull/37

[2020-09-09 22:44] JudahGabriel commented on #1086
Hi @istaka

I believe the issue is due to the newness of your certificate. It was issued yesterday by LetsEncrypt. It appears our Android Platform's fetch code is having trouble with that certificate, possibly around DNS cache issues.

Investigating. We'll get back to you.

[2020-09-09 23:05] JudahGabriel commented on #1083
Closing for now - please update your manifest as described above.  If the issue still persists, feel free to reopen this bug.

[2020-09-09 23:05] #1083 closed

[2020-09-09 23:37] JudahGabriel commented on #1049
Implemented and deployed.

[2020-09-09 23:37] #1049 closed

[2020-09-09 23:47] mcmultimedia commented on #1049
WoW. Meaning now we can submit the .aab file format to playstore right?

[2020-09-10 05:15] radubirsan commented on #1076
This si my site https://lipy.cc I added asset link here and checked the key with the Asset Link Tool https://lipy.cc/.well-known/assetlinks.json
I generated the APK with fullscreen set and uploaded here:
https://lipy.cc/o.apk
I donwnload it and install it on my Vivo Y20 with android 9 and I get the address bar

[2020-09-10 10:10] LewPerren opened #1089 "Samsung builder does not refresh pwabuilder-sw.js or contents of offline.html file"
**Describe the bug**

The Samsung builder (may be the same for others) appears to cache some files and does not change them even though they have changed on the website url. For example, in pwabuilder-sw-register.js, I have changed the const offlineFallbackPage to a different html file, but still appears to go to the html file I originally loaded. I have also changed the content of the offlineFall

[2020-09-10 11:14] radubirsan opened #1090 "Address bar shows up even when setting fullscreen"
This si my site https://lipy.cc I added asset link here and checked the key with the Asset Link Tool https://lipy.cc/.well-known/assetlinks.json
I generated the APK with fullscreen set and uploaded here:
https://lipy.cc/o.apk
I download it and install it on my Vivo Y20 with android 9 and I get the address bar

[2020-09-10 19:23] JudahGabriel commented on #1086
As [described here](https://github.com/GoogleChromeLabs/bubblewrap/issues/330#issuecomment-690049687), the issue is that [your certificate has a broken chain value](https://www.sslshopper.com/ssl-checker.html#hostname=https://ygc.istaka.store/):

<img src="https://user-images.githubusercontent.com/1733592/92694507-117b3d80-f33f-11ea-861d-afd1434e3107.png" />

[This post](https://community.letsencr

[2020-09-10 19:23] #1086 closed

[2020-09-10 19:32] JudahGabriel commented on #1090
It's working for me:

![image](https://user-images.githubusercontent.com/312936/92791526-9b3c0280-f361-11ea-9ebe-e45e0071f71a.png)

Perhaps Chrome cached an old version of your asset links? Try clearing your browser cache.

[2020-09-10 22:22] pnkapadia64 opened #1092 "Service worker not detected"
**Describe the bug**
Our website crazygames.com has the PWA accessible on https://www.crazygames.com/pwa/install. For some reason, on PWABuilder, it detected the service-worker once but not the rest of the time. PWA has been live and installed on multiple devices for a while now.

**Expected behavior**
Service worker should be detected

**Screenshots**

<img width="1761" alt="Screenshot 2020-09-11

[2020-09-11 08:56] davrous commented on #1092
Hi! Thanks for reporting this bug. We're currently working on better managing Manifest & Service Workers detection. @jgw96 , here's an interesting site to review :)

By the way, why are you setting up everything on /pwa/install rather than on the home page directly? It will display the grey banner like below when navigating back to the home page:

![image](https://user-images.githubusercontent.com

[2020-09-11 09:03] davrous commented on #1080
@JudahGabriel  & @jgw96, we should either not allow the Android package generation if the web app is not a valid PWA or a list put a big warning message if a user would like to force it. Or other option: provide a meaningful error message :)

[2020-09-11 09:05] davrous commented on #1080
I'm closing this issue. @Gl1tch42, once you'll have generated a correct manifest and service worker (you can use pwabuilder for that), you should be able to generate your Android package. You need to have a score of 100 to do so. Please re-open this issue if it's not the case. Thanks!

[2020-09-11 09:05] #1080 closed

[2020-09-11 10:02] pnkapadia64 commented on #1092
Thank you @davrous. Actually we support 2 different kinds of PWAs on our website. The main PWA which can be installed from https://www.crazygames.com/pwa/install and a PWA for every game which can be installed from its corresponding game page. To avoid any overlap in their scopes, we're not installing the PWA from the homepage. Also, we have some logic in place to make sure that the grey banner do

[2020-09-11 12:27] mcmultimedia opened #1093 "PWA on Android TV"
Can APKs and AABs created with PWABuilder run on Android TV. A friend asked me because he owns Android TV and therefore wanted the right answer for him.

[2020-09-11 13:43] radubirsan commented on #1090
magic it work not sure how not sure why but thank you!!!!

[2020-09-11 15:16] jgw96 commented on #1092
Thanks @davrous!

[2020-09-11 15:27] jgw96 commented on #1092
This is already working on preview with the changes I made yesterday afternoon!
![image](https://user-images.githubusercontent.com/8823093/92944295-a6963900-f408-11ea-92c1-a2130df8abed.png)
 With the next release of our Azure functions (which should be today) this will be working. I will comment here once it is deployed 😊

[2020-09-11 15:28] jgw96 commented on #1092
I agree with @davrous too, very cool app @pnkapadia64 !

[2020-09-11 16:19] davrous commented on #1092
Thanks @jgw96 , you're the boss!

[2020-09-11 16:23] davrous commented on #1093
Hi! Thanks for asking the question. I have no idea on the level of support of TWA / PWA by the Android TV OS. Maybe @andreban knows?

[2020-09-11 16:42] pnkapadia64 commented on #1092
Thank you @jgw96. Yes, it works now. Can you check the game page's PWA maybe? For a page like https://www.crazygames.com/game/bullet-force-multiplayer, it doesn't detect the manifest either.

[2020-09-11 16:52] JudahGabriel opened #1094 "HTTPS not detected for messianicradio.com"
Analyzing https://messianicradio.com in PWABuilder results in HTTPS not being detected, even though I have a valid HTTPS certificate (LetsEncrypt).

[2020-09-11 18:51] amateurd opened #2461 "Doesn’t work anymore on Safari iOS when as an app"
Error says user closed pop up when called from the PWAbuilder demo page, but only when run as an app (added to home screen. When run in a Safari tab, works fine.

[2020-09-11 19:09] JudahGabriel commented on #1074
You have a double service worker registration. This code appears twice on your page:

[code]

Remove the duplicate.

Finally, with regards to HTTPS, your HTTPS is misconfigured on your server. Put your website into this SSL checker: https://www.ionos.com/tools/ssl-checker

You'll see your SSL is misconfigured. In particular, your server [reports](https://www.cdn77.com/tls-test?domain=kwebbelweb.nl

[2020-09-11 19:11] jgw96 commented on #1092
Definitely! Thanks for the info

[2020-09-11 19:13] julianborghuis commented on #1074
I use cloudflare,

Is there a problem, can you help me?

[2020-09-11 19:17] julianborghuis commented on #1074
Also looks like https://www.pwabuilder.com/ the domain field doesnt work now, when you click start

[2020-09-11 19:18] JudahGabriel commented on #1074
That works fine here, just tested.

[2020-09-11 19:19] julianborghuis commented on #1074
YEET fixed manifest

[2020-09-11 19:20] JudahGabriel commented on #1074
Login to Cloudflare, click your domain, click SSL/TLS. What option is selected: Off, Flexible, Full, or Full Strict?

Then click Edge Certificates and scroll down to Minimum TLS Version. What is it set to?

[2020-09-11 19:21] JudahGabriel commented on #1074
Cool, I see both the manifest and the HTTPS detection working now.

[2020-09-11 19:22] julianborghuis commented on #1074
full,

and minimum was 1.3 now 1.0 and its fixed

but i cant get a background serviceworker fixed see f12 in kwebbelweb.nl

[2020-09-11 19:22] JudahGabriel commented on #1074
Last thing you need to get working is your service worker. Remove the duplicate service worker registration as I [described here](https://github.com/pwa-builder/PWABuilder/issues/1074#issuecomment-691265979).

[2020-09-11 19:22] julianborghuis commented on #1074
already done

[2020-09-11 19:24] julianborghuis commented on #1074
if you want , you can get my ftp, but you need to start a chat on kwebbelweb.nl so i can share the details safe

[2020-09-11 19:29] JudahGabriel commented on #1074
Next up: your site is trying to register multiple service workers. You've got this code correct:

[code]

That will end up registering a service worker on your behalf.

However, you also have this code inside core.js:

[code]

Don't do that, because you already have a service worker registration via the first snippet.

[2020-09-11 19:31] julianborghuis commented on #1074
done, but still no progress

[2020-09-11 19:37] JudahGabriel commented on #1074
Now I'm seeing an error in the service worker:

![image](https://user-images.githubusercontent.com/312936/92965784-4369ce00-f42b-11ea-8256-3a91a858b8e7.png)

This may be a bug or regression in one of our service workers. We'll investigate. In the meantime, can you [try a different service worker](https://www.pwabuilder.com/serviceworker)?

[2020-09-11 19:40] julianborghuis commented on #1074
offline works fine, with that,

Do i need to show it to you so you can see?

[2020-09-11 19:54] JudahGabriel commented on #1074
OK cool. If the `offline page` service worker is acceptable for your web app, go ahead and use that. Update your code and we should be all set.

[2020-09-11 19:55] julianborghuis commented on #1074
no i have notifications so i wait for the bugg fix

[2020-09-11 23:01] JudahGabriel commented on #1074
I don't understand. Can you clarify?

[2020-09-11 23:02] jgw96 commented on #1092
Hey @pnkapadia64 , that fix is now deployed and your main URL https://www.crazygames.com/pwa/install now gets a 100!
![image](https://user-images.githubusercontent.com/8823093/92979509-cf89ee80-f447-11ea-85da-01becf1e06b4.png)

I am still looking into the alternative URL you gave above and will reply back when I have more info

[2020-09-11 23:09] JudahGabriel commented on #1090
I suspect it was simply that Chrome cached your assetlinks.json. You then updated your asset links, but Chrome was using the outdated cached version.

[2020-09-11 23:09] #1090 closed

[2020-09-11 23:11] jgw96 commented on #1092
@pnkapadia64 heads up after looking at your site further, because your main URL https://www.crazygames.com/ does not register a manifest or service worker then users going to that URL will not be prompted by the browser for install, this will also limit your ability to publish to the Google Play and Microsoft stores. This is the same reason @davrous gets the light grey header with the URL in the s

[2020-09-11 23:12] JudahGabriel commented on #1035
@trustedadvisor2020 The issue is that https://app.wapcrm.net doesn't have a valid manifest tag on the page. Here's what your manifest tag looks like:

[code]

Notice the missing href. Please fix that. Closing this for now, feel free to reopen this case if fixing your manifest href doesn't solve the problem.

[2020-09-11 23:12] #1035 closed

[2020-09-12 05:39] julianborghuis commented on #1074
I wait for the bug fix,

[2020-09-12 05:40] julianborghuis commented on #1074
When do you think background sync works?

[2020-09-12 08:22] julianborghuis commented on #1074
yes and background sync does that ??

[2020-09-12 13:53] pnkapadia64 commented on #1092
Hey @jgw96 , thank you for taking out the time. I understand what you're saying but we decided to do so because we wanted to have a PWA for the website and also a separate PWA for every game on the website. Since we didn't want the scopes of these PWAs to overlap, we only had the option to create the main website's PWA from a different URL instead of the homepage.
Since https://www.crazygames.com/

[2020-09-13 07:49] stepanrumyantsev opened #1095 "Error generating androidTWA package: Host URL must be a valid absolute URL"
I received the following error when generating a package for https://fuel.stepanrumyantsev.com

My pwa is perfectly fine since I built it with pwatoapk and published in Google Play Store a month ago

[2020-09-13 21:02] #715 closed

[2020-09-14 15:13] koenvd commented on #787
Sorry for late reply @JudahGabriel but had 2 more questions about storage rules:

Is Chromium using a specific strategy for this? Just wondering since if a user has installed a PWA and in case due to other user actions the disk becomes full and Chromium would decide to remove the main.js from cache storage suddenly the installed PWA won't work anymore offline. Also the user would not be aware of t

[2020-09-14 19:11] jgw96 commented on #1092
Got ya, thanks for the extra info! I don't think I'm following on your question fully, what are you wanting to add manually? And to clarify, because your main PWA URL now does pass the tests, you will be able to use PWABuilder to package it, but just keep in mind that, because of the things I discussed above, the Google Play store may reject your app.

[2020-09-14 20:07] pnkapadia64 commented on #1092
Ok got it. I'll try to submit the app manually.

Also, I was hoping to know why the PWAs weren't picked up automatically (both https://www.crazygames.com/pwa/install and the individual games' like https://www.crazygames.com/game/bullet-force-multiplayer). Was it because our service-worker detection failed that was fixed a couple of days ago? Or because the PWA's install doesn't reside on the homep

[2020-09-14 21:07] jgw96 commented on #1092
Hey @pnkapadia64 , so for the pwa/install url it was an issue on our end. I am still looking into why the individual games service workers are not getting found.

[2020-09-14 21:09] jgw96 commented on #1092
Also, another update. The individual games URLs now work with the latest changes i made
![image](https://user-images.githubusercontent.com/8823093/93138412-d2791f00-f693-11ea-9b33-915810159554.png) because of this I am going to close this issue for now. Thanks @pnkapadia64 !

[2020-09-14 21:09] #1092 closed

[2020-09-14 21:24] pnkapadia64 commented on #1092
Thanks a lot, @jgw96! Just one small question, since the PWAs are passing all the checkpoints, does that mean that they'll get picked up automatically in some time or I'll still need to manually build them? I could add the main app manually but doing it for all the games would be a huge task.

[2020-09-14 21:26] jgw96 commented on #1092
That would be up to you @pnkapadia64. We do not automatically publish any PWAs, we give you a download that has the APK you need to submit. However, be aware that as your app and all the games currently do not work offline, your PWA will most likely be rejected from the Google Play Store.

[2020-09-14 21:26] jgw96 commented on #1092
Oh and no problem!

[2020-09-14 21:32] pnkapadia64 commented on #1092
Ok got it! Thank you again for your time. :)

[2020-09-14 22:03] LewPerren commented on #1095
I am knew to pwabuilder, but I have looked at your manifest.json and it does not appear to have a valid start_url. The start_url is given as '.' where it should be an absolute web address. Your current manifest.json is:

{ "name": "PetrolCalc",
"short_name": "PetrolCalc",
"start_url": ".",
"display": "standalone", "background_color": "#FFFFFF",
 "description": "Track your fuel expenses",
"theme_co

[2020-09-15 03:09] rahilhussain opened #1097 "Error generating androidTWA package: Received icon with invalid content-type"
I received the following error when generating a package for https://rahil7.herokuapp.com/

[2020-09-15 06:15] stepanrumyantsev commented on #1095
Thank you very much! I will definitely try this out. The fact it: my PWA builds into apk with both pwa2apk and Android Studio 4.0 with 0 issues.

I will come back with the results.
Might be a feature request for PWA Builder.

Thank you!

[2020-09-15 08:05] nPaul opened #1098 "Error generating androidTWA package"
I received the following error when generating a package for https://lk.yakutskenergo.ru/lk

[2020-09-15 08:06] #1098 closed

[2020-09-15 16:51] JudahGabriel commented on #1097
I think your issue is described there in the error message:

https://rahil7.herokuapp.com/logo512.png contains an invalid content-type. If you load that image, you'll see it's not really an image, but an HTML page. Fix that by uploading a real image to https://rahil7.herokuapp.com/logo512.png, and you should be all set. Let us know.

[2020-09-15 16:53] rahilhussain commented on #1097
My image is perfect sir

On Tue, Sep 15, 2020, 10:21 PM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-09-15 16:53] rahilhussain commented on #1097
Can you help me via screen share

On Tue, Sep 15, 2020, 10:23 PM Rahil Hussain <rahilhussainp@gmail.com>
wrote:

[2020-09-15 17:10] JudahGabriel commented on #1095
Thanks for the bug report. I think our validation is a little overzealous here, because I believe "." is acceptable in the web standards for app manifest. I'll have a look and fix this.

In the meantime, you can use "/" for the start URL, and that should likely be fine as well.

[2020-09-15 21:12] JudahGabriel commented on #1097
You're mistaken. Go to this URL: https://rahil7.herokuapp.com/logo512.png

Here's what I see:

![image](https://user-images.githubusercontent.com/312936/93265460-7aa6ea80-f75d-11ea-8a17-d82b38765af3.png)

In other words, it's showing your website, not an image. This explains the error you are receiving.

[2020-09-15 21:33] JudahGabriel commented on #1095
Hmm, I just tried this and was unable to repro. The code actually accepts "." as a valid start URL. How can I repro?

[2020-09-16 04:49] rahilhussain commented on #1097
I got it.but how can i remove adress bar on top

On Wed, Sep 16, 2020, 2:43 AM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-09-16 04:51] rahilhussain commented on #1097
On Wed, Sep 16, 2020, 10:19 AM Rahil Hussain <rahilhussainp@gmail.com>
wrote:

[2020-09-16 05:18] sunBhabani opened #1101 "manifest.json not updating after a long wait"
Dear JudahGabriel,

Am facing some difficulties on my PWA application that when i modified some parameters in my 'manifest.json' and those changes are not reflect on my users handset. I have wait 2/3 day's more. Sometime also a (week +) but still unsuccessful. Also i have checked all of my Users handset are so latest and all have using Google Chrome > 80 version. I have tried lot of way's refer Go

[2020-09-16 09:04] stepanrumyantsev commented on #1095
@JudahGabriel I can confirm that modifying this manifest.json string `"start_url": ".",` to include the absolute URL resolves the issue with PWABuilder.
The thing is: pwa2apk and Android Studio 4.0 build successfully with `"start_url": ".",`

Thank you all!

[2020-09-16 15:31] davrous commented on #1101
Hello,

It's because you're not updating your service worker cache to update the manifest file when changed on the server. You need to update your service worker cache strategy.

[2020-09-16 15:40] davrous commented on #1097
Hello!

You need to read the documentation on generating the assetlinks file: https://github.com/pwa-builder/CloudAPK/blob/master/Next-steps.md#1-deploy-assetlinksjson and @JudahGabriel wrote a dedicated section on the address bar: https://github.com/pwa-builder/CloudAPK/blob/master/Asset-links.md

I'm closing this issue as the original issue has been solved. Please open a new issue if your proble

[2020-09-16 15:40] #1097 closed

[2020-09-16 15:41] davrous commented on #1095
Thanks for the feedback and glad it has been resolved. Closing this issue then.

[2020-09-16 15:41] #1095 closed

[2020-09-16 15:48] davrous commented on #1089
Hello! Can you please share the URL to your PWA? Do you reproduce the issue using your PWA in the browser outside of the Samsung APK?

[2020-09-16 15:51] sunBhabani commented on #1101
Dear **Davrous,**

I am so much thankful on your reply. So now i clear the issue is at Servicework.js code.

Actually by referring the online documentation on 'www.pwabuilder.com', am generated my service worker and currently using in my WebApp now. The type of service worker on my App is: When the Network connectivity down, the App will show a simple offline.html page.

Would you please help me t

[2020-09-16 15:55] davrous commented on #1052
I've contacted our contacts at Samsung, waiting on their feedback. @rajandimri, did you manage to progress on your side in the meantime?

[2020-09-16 15:58] davrous commented on #1093
Hello, I had a discussion with Andre from Google. He told me as Android TV doesn't have a browser, thus it doesn't support TWA (which is based on Custom Tabs). The answer is then: no, APKs generated by PWA Builder won't run on Android TV. Sorry for that!

[2020-09-16 15:58] #1093 closed

[2020-09-16 16:01] LewPerren commented on #1089
Hello. The url is:

https://www.businessplanquickbuilder.com

The problem does not occur using the PWA in the browser outside of the Samsung APK.

Thanks for looking into this issue.

[2020-09-16 16:01] davrous commented on #1041
Hi @hz26262, please try moving your manifest file at the root level and also see how to fix the error 503 on your site. If it's still not working, please re-open this issue. Thanks!

[2020-09-16 16:01] #1041 closed

[2020-09-16 16:05] davrous commented on #976
Hi @jgw96, the zebsoft.uk PWA is still failing with our latest code available containing the various fallbacks. Can you please check if it's because of our current redirection issue? Thanks!

[2020-09-16 16:53] jgw96 commented on #976
Thanks @davrous looking now

[2020-09-16 16:57] jgw96 commented on #976
@JudahGabriel Just tested and this URL is failing through our 3 fallbacks, we also have the redirect code deployed too, any other ideas?

[2020-09-16 18:43] rajandimri commented on #1052
Hi, @davrous! I didn't find any way yet, still waiting for your solution.

[2020-09-16 18:57] davrous commented on #976
Maybe we should consider my idea of simply using a XHR or Fetch call from the browser itself ;)

[2020-09-16 21:53] JudahGabriel commented on #1101
David's right, it's most likely your service worker, perhaps combined with HTTP caching.

One thing to narrow down the issue: when you make a change to your manifest, clear your service worker cache. (Open your page in Edge or Chrome, F12, Cache Storage -> find your cache and delete it.

When you clear or delete your service worker cache, do you get the new manifest? If so, the problem is your ser

[2020-09-16 22:13] JudahGabriel commented on #1089
One other clarification: after you've updated your service worker to use the new offlineCatch.html, open your Samsung or Chrome browser and navigate to your URL. Do you see the updated service worker and offline page?

Also, can you post your service worker code?

[2020-09-16 22:14] JudahGabriel commented on #1074
No, background sync is something else. (In particular, background sync allows users to save data when they're offline, then push their saves to the server when online.)

Since you don't need that, I recommend you just use a different service worker, which should fix your problem. Can you try that?

[2020-09-16 22:19] JudahGabriel commented on #759
I'm able to repro. @jgw96 This service worker call never completes, eventually times out: https://pwabuilder-tests.azurewebsites.net/api/ServiceWorker?site=https://www.x3mdesign.com/

[2020-09-16 22:20] JudahGabriel commented on #736
This is partially implemented in the new scoring page. More to come. Closing.

[2020-09-16 22:20] #736 closed

[2020-09-16 22:23] JudahGabriel commented on #731
@joel-44 This is now fixed. I just verified by following your repro steps, and I was able to download the Android package. Closing this issue. If you're still encountering an issue, please feel free to reopen.

[2020-09-16 22:23] #731 closed

[2020-09-16 22:24] JudahGabriel commented on #731
@sbracegirdle I just verified it's fixed for https://jakearchibald.github.io/svgomg/ as well. 👍

[2020-09-16 22:26] JudahGabriel commented on #976
Folks, I'm seeing my fallback work: https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanifest?url=https://zebsoft.uk

[2020-09-16 22:30] JudahGabriel commented on #976
It looks like my "parse the HTML" fallback isn't being called in preview.pwabuilder.com. Checking why that is now.

[2020-09-16 22:48] JudahGabriel commented on #976
OK, good news: yes, the 3rd fallback works. Bad news: the UI isn't reflecting that. Investigating now...

[2020-09-17 01:33] JudahGabriel commented on #976
Justin and I have a fix for this now. 😎 Committing...

[2020-09-17 07:39] sunBhabani commented on #1101
Hi Judah,

Thanks for provide details are in a greater format. Really fine.

### As per your question: When you clear or delete your service worker cache, do you get the new manifest?
**Ans)** I have tried 10 times & more on my Android mobile set and also on Laptop. But the Latest manifest.json not appears/apply on Handset after all the History/Cache cleared. Also as per your instruction i have ad

[2020-09-17 08:13] julianborghuis commented on #1074
But can there be an onesignal notification service worker get maked?

[2020-09-17 11:00] LewPerren commented on #1089
Hi,

Thanks, your suggestion of navigating to the new offlineCatch.html page on Samsung or Chrome browser gave me a clue. On Chrome the new offlineCatch.html page showed, but Samsung browser it showed the old version. I cleared the cache on the Samsung browser and now when I navigate to offlineCatch.html I get the new page. Even better, when I go to the installed app, it also goes to the right pag

[2020-09-17 11:04] LewPerren commented on #1089
As requested pwabuilder-sw.js file:

// This is the "Offline page" service worker for BPQB.
// This code was generated by pwabuilder.com
// Edited const offlineFallbackPage for BPQB

importScripts('https://storage.googleapis.com/workbox-cdn/releases/5.0.0/workbox-sw.js');

const CACHE = "pwabuilder-page";

const offlineFallbackPage = "offlineCatch.html";

self.addEventListener("message", (event) =

[2020-09-17 15:10] whiwo opened #1104 "Generate missing images options hangs"
When I upload the recommended 512x512 image and have the "generate missing images option" checked it just hangs and nothing uploads nor is it generated. If I leave that option unchecked, the single image uploads automatically but the various sizes and formats are missing. It will not accept any other format other than png or jpg.

After filling in basic info tab, click on "images" tab and then cli

[2020-09-17 16:26] JudahGabriel commented on #1104
Generate images won't generate different *formats*, only different sizes. Some stores need certain sizes to function properly. This is what generate images will do.

We'll investigate the issue. What's your URL?

[2020-09-17 16:36] JudahGabriel commented on #1101
To be clear, you must clear the service worker cache directly. Clearing browsing data won't clear the service worker cache.

If you've cleared the service worker cache, and you're still seeing a problem, then the problem isn't the service worker.

You need to investigate where your app is caching the old version. If you updated index.php so that the manifest has the "?v=1" tag, and you're still no

[2020-09-17 17:04] JudahGabriel commented on #1074
You can easily add push notification support to any service worker:

[code]

[2020-09-17 17:05] JudahGabriel commented on #1074
Closing this, as your original issue about manifests is fixed. If you're still having trouble with your service worker, please open a separate issue for that.

[2020-09-17 17:05] #1074 closed

[2020-09-17 17:13] JudahGabriel commented on #1089
Use cache-busting URLs for all your stuff.

Instead of this:

[code]

Use cache-busted URLs:

[code]

That "?v=1" is the version of the file. Then when you update it, change the version. Both HTTP cache and service worker cache will see it as a new file and your users will get the newest version.

Most web frameworks (ASP.NET Core, for example) and web bundlers (Gulp, Grunt, etc), have a way to ca

[2020-09-17 17:13] #1089 closed

[2020-09-17 17:50] JudahGabriel commented on #1094
Working now.

[2020-09-17 17:50] #1094 closed

[2020-09-17 17:54] JudahGabriel commented on #951
@smebberson I've verified your site's manifest, service worker, and HTTPS are all being correctly detected.

![image](https://user-images.githubusercontent.com/312936/93509137-2d00be00-f8d4-11ea-8bdb-76360917f168.png)

[2020-09-17 17:58] JudahGabriel commented on #995
[This PR](https://github.com/pwa-builder/PWABuilder/pull/1103) will fix your issue. Verified, as our new manifest detection fallback correctly finds your manifest: https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanifest?url=https://www.pisco.rest/

[2020-09-17 18:33] JudahGabriel commented on #1063
FYI, [this PR](https://github.com/pwa-builder/PWABuilder/pull/1103) fixes manifest detection for all the sites mentioned in this thread:

- https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanifest?url=https://rada20.ir
- https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanifest?url=https://play.esviji.com
- https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanif

[2020-09-17 18:47] LewPerren commented on #1089
Thanks for all your help.

[2020-09-17 19:20] JudahGabriel commented on #1007
We're updated our Windows platform to use the new Chromium-based Edge. We'll have good documentation for it. Closing this because we are unlikely to update our old documentation, and instead just have good docs for the new platform.

[2020-09-17 19:20] #1007 closed

[2020-09-17 19:23] JudahGabriel commented on #973
Closing this, as we're instead migrating parts of functionality out of the old API and into different microservices.

[2020-09-17 19:23] #973 closed

[2020-09-17 19:24] JudahGabriel commented on #954
Closing, as we don't have georedundancy on the radar. Currently, the app service's more aggressive cleanup, and larger VM size, has sufficed for resiliency.

We will open a new issue if we want to add geo-redundancy.

[2020-09-17 19:24] #954 closed

[2020-09-17 19:42] JudahGabriel commented on #949
This has been fixed with [this PR](https://github.com/pwa-builder/PWABuilder/pull/1103). It's deployed to preview.pwabuilder.com, and we will roll out to production within the next week.

[2020-09-17 19:42] #949 closed

[2020-09-17 19:49] JudahGabriel commented on #951
Closed the wrong issue, reopening this one, as https://next.beta.focusboosterapp.com/ still has a service worker detection issue.

[2020-09-17 19:49] JudahGabriel commented on #976
This fix is now preview.pwabuilder.com. We'll push to production sometime next week.

[2020-09-17 19:53] JudahGabriel commented on #550
Both the Android platform and the new Chromium-based Windows platform require a manifest; they will fail if no manifest is detected.

We should updated the pwabuidler front-end to prevent generating these platforms if no manifest is detected.

[2020-09-17 20:04] JudahGabriel commented on #996
@David-My2eWay Yes, since this issue is about asset links and service worker, I recommend you open a new issue for your Samsung browser issue.

[2020-09-17 20:27] steve-mb commented on #976
Awesome work guys, thanks, looks good...
Only the Android download seems to be working though.

Error building package.
error.manifest_required

[2020-09-17 20:58] JudahGabriel commented on #1049
That's correct. We've [updated the documentation](https://github.com/pwa-builder/CloudAPK/blob/master/Next-steps.md#3-upload-your-app-to-the-google-play-store) to describe precisely that.

[2020-09-17 21:03] JudahGabriel commented on #1076
@radubirsan if you haven't already, follow the steps in our [asset links helper](https://github.com/pwa-builder/CloudAPK/blob/master/Asset-links.md). If you've followed those steps and are still hitting a problem, please open a new issue.

[2020-09-17 21:21] JudahGabriel commented on #921
@DanielWhite-1990 I've verified your issue is now fixed in https://preview.pwabuilder.com:

![image](https://user-images.githubusercontent.com/312936/93529572-fedda700-f8f0-11ea-9b2b-876905a5514a.png)

This will be rolled out to production within the next week.

[2020-09-17 21:21] #921 closed

[2020-09-17 21:32] JudahGabriel commented on #787
I don't know, unfortunately. We would need to get more details from the Edge team on that.

Yes, that's my understanding.

You check for storage space before trying to store large things in there. For small stuff (js, css, html), I wouldn't bother. But for media files, yes. And for eviction, basically your service worker just behaves as normal: is something in the cache? Yes, use it. No, fetch it

[2020-09-17 21:46] JudahGabriel commented on #1098
@nPaul it looks like that image is not a valid image: https://lk.yakutskenergo.ru/lk/assets/favicon/android-chrome-512x512-5b6a8227b8da3f2777683e833b9480bee12e86430e1c3f7ce8ec8431b1056696.png

I see you closed this issue, so perhaps you already found the problem. If not, feel free to reopen this issue.

[2020-09-17 21:51] davidpolberger commented on #949
That's excellent news, thank you so much!

[2020-09-17 21:52] JudahGabriel commented on #1041
@hz26262 Further investigation shows that your issue is an [invalid HTTPS certificate](https://www.sslshopper.com/ssl-checker.html#hostname=%20https://rada20.ir):

![image](https://user-images.githubusercontent.com/312936/93532114-35b5bc00-f8f5-11ea-9fc3-161eeda3bf8b.png)

If you fix that, then you should be able to generate the APK.

[2020-09-17 21:53] JudahGabriel commented on #1052
@rajandimri The Samsung guys just contacted us and are looking into the issue. We'll update here when we know more.

[2020-09-17 22:02] JudahGabriel commented on #976
@steve-mb You're seeing an issue with generating a Windows app from your PWA. Can you open a new issue for that?

[2020-09-17 22:02] #976 closed

[2020-09-17 22:03] davidpolberger opened #1108 "Error generating macos package"
I received the following error when generating a package for https://connect.calcapp.net/?app=244wdi

[2020-09-17 22:05] davidpolberger commented on #949
I get a score of 100 now with [this URL](https://connect.calcapp.net/?app=244wdi) and I can successfully build apps for Windows and Android. However, I cannot build iOS or Samsung apps. I filed [this issue](https://github.com/pwa-builder/PWABuilder/issues/1108) to track that bug.

[2020-09-17 22:10] davidpolberger commented on #1108
I can successfully build apps for Windows and Android. However, I get this error message when I try to build apps for iOS and Samsung.

[2020-09-17 22:11] JudahGabriel commented on #949
Glad it's fixed this issue. For your MacOS build issue, I'll comment there.

[2020-09-17 22:15] JudahGabriel commented on #1108
To be clear, [we don't support iOS apps](https://github.com/pwa-builder/PWABuilder/issues/799#issuecomment-641614743) at this time due to [Apple's new policy against HTML5 apps](https://developer.apple.com/news/?id=09062019b). We are working with Apple to clarify.

It looks like generating a MacOS app also can't find your manifest. @lee-leonardo can you have a look at this? I'm able to repro by tr

[2020-09-17 23:42] whiwo commented on #1104
My start URL? https://partyfavorz.com/

I built the manifest outside of the website and then copied and pasted it in filling the remaining details including icons and sizes. It was the easiest workaround I could think of. My main interest is in the service worker because that’s over my head. I copied your files over and added the first to my root and the second to the closing </body> tag.

For som

[2020-09-17 23:48] nPaul commented on #1098
ye i found the problem
but i think it is bugs
pwabuilder generate wronk link to icon if source located in scope

site.com/myscope/
in manifest icons src locates on root path
site.com/images/icon-512.png

pwabuilder generate wrong path
site.com/myscope/images/icon-512.png

[2020-09-18 05:11] David-My2eWay opened #1109 "Browser address bar on sansung internet browser"
Hi,

We made a pwa app who woks fine, but we have a little  problem with Samsung internet browser : the address bar is displayed only with this browser (not on chrome, firefox,etc.)

Can you please tell me if Samsung internet browser supports the feature to disable this bar (with a correct assetlinks, etc.)

Thanks in advance.

[2020-09-18 05:11] David-My2eWay commented on #996
ok, its done 👍

https://github.com/pwa-builder/PWABuilder/issues/1109

[2020-09-18 09:52] LewPerren opened #1110 "Is there a way to force a previously installed app to read an amended pwabuilder-sw.js file rather than using the cached version."
Question in detail:
The installed app does not read a change in pwabuilder-sw.js file, but uses the cache version unless the app and browser cache are cleared. Specifically the change on the const offlineFallbackPage value is not picked up without clearing cache.

Describe alternatives you've considered:

@JudahGabriel helpfully suggested on a related issue that was sorted and closed, that using a

[2020-09-18 10:19] rajandimri commented on #1052
@JudahGabriel , thank you! can't wait to publish my app on Samsung Galaxy Store :). Thank you for your effort.

[2020-09-18 15:01] sunBhabani opened #1111 "App not showing in Google Play Store after successfully published."
Hi Support,

It's about 2 day's of published of our PWA WebApp (**JSPL Live-X**) on Play Store, but during search on the Play Store, our APP not showing so far. But it visible on my 'Play Console'.

Would you please guide me some ideas where am wrong. As per the guideline of your PWABuilder document i have done everything step by step but still our APP not showing on Google Play Store.

**You can

[2020-09-18 15:26] sunBhabani commented on #1101
Hi Judah,

Thanks for provide the details in a good clarity and understandable.

I have thoroughly checked during the first load of my WebApp (index.php), it say's the Status: 200, Size: Service Worker, Time: 114 ms.
And another line in just below of the index.php , it say's the Status: 200, Size: 22.9kB, Time: 109 ms

I have recorded the above things on video: please refer it: https://www.screenc

[2020-09-18 15:50] koenvd commented on #787
Thanks a lot for sharing this info @JudahGabriel ! Much appreciate the time you took for providing the answers.

Other question I still had is if we will still have the possibility to call into the Windows 10 API or a windows runtime component like currently supported in EdgeHTML based PWA's on the Store?

(When creating this issue I kind of expected it would be supported since it's supported in a

[2020-09-18 15:50] epsa-dev opened #1112 "Error generating macos package"
I received the following error when generating a package for https://reportes.epsa.services/

[2020-09-18 20:03] jgw96 commented on #759
@JudahGabriel  just an update here: Did some refactoring to the serviceWorker test locally, but no matter what (atleast from what I can find so far) we always have to wait for the "navigator.serviceWorker.ready" event to be able to even attach a devtools session to it with Puppeteer. This site is caching a large amount of assets and therefore is running into puppeteers timeout. I am going to conti

[2020-09-18 20:04] jgw96 commented on #759
Cool thing is, i have a better implementation of that test now atleast.

[2020-09-18 20:42] jgw96 commented on #759
Another finding, this does not tactually timeout with the timeout we have set in the code, it just never moves forward.

[2020-09-19 06:38] peterpeterparker opened #1113 "[FEATURE] Support Bubblewrap new option "enableSiteSettingsShortcut""
### Feature Description

Bubblewrap introduced in its last release a new flag that adds to generated TWA a "Site Settings" app shortcut.

Per default the flag is `true` but it is possible to opt-out this option using the `enableSiteSettingsShortcut` flag.

This feature /  suggestion has for goal to reflect / add this property to PWABuilder

### Use Case

Moreover than reflecting the Bubblewrap opt

[2020-09-20 01:09] bdsmgeek opened #2469 "An error occurred: {"error":"popup_closed_by_user"}"
Google authentication doesn't seem to be working, throws this error straight from the live demo.

[2020-09-20 22:00] Natetronn opened #1115 "Workbox importScripts missing from Offline copy with Backup offline page"
Missing Workbox import in Service Worker's "Offline copy with Backup offline page"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://www.pwabuilder.com/serviceworker
2. Click on: Offline copy with Backup offline page
3. See code under: Add this code to a file named "pwabuilder-sw.js" on your site root:
4. Missing: importScripts('https://storage.googleapis.com/workbox-cdn/release

[2020-09-20 22:16] Natetronn commented on #1115
I should add that version 5.0.0 is what's listed in the other examples:

`importScripts('https://storage.googleapis.com/workbox-cdn/releases/5.0.0/workbox-sw.js');`

Although, Workbox latest is 5.1.2 according to this:

[2020-09-21 10:49] FluorescentHallucinogen commented on #1113
It would be really nice to expose literally all flags/options (like `enableSiteSettingsShortcut`, `enableNotifications`, `isChromeOSOnly`, `fallbackType`, etc.) from Bubblewrap config (`twa-manifest.json` file) into user-friendly UI in PWABuilder.

[2020-09-21 14:12] davrous commented on #1111
Hello, congrats on your publication but this is not a PWA Builder issue. Usually, App Stores need time to update their search catalog, you'll probably see it in a couple of days. If not, please open an issue using the Play Store support options. Thanks!

[2020-09-21 14:12] #1111 closed

[2020-09-21 14:17] davrous commented on #1113
Hi! Thanks for the heads up. Let's add that to our future updates @JudahGabriel ;) Judah has already exposed some of the options in a recent UI update but we'll add more.

[2020-09-21 14:21] davrous commented on #1052
Hello! Samsung told me you can try to reach this alias to ask for help: pwasupport@samsung.com. Thanks!

[2020-09-21 17:04] JudahGabriel commented on #1113
@FluorescentHallucinogen `enableNotifications` and `fallbackType` are available in the options dialog:

![image](https://user-images.githubusercontent.com/312936/93797292-e4f1dc00-fbf0-11ea-9be0-b65902d69de4.png)
![image](https://user-images.githubusercontent.com/312936/93797488-2edac200-fbf1-11ea-9c08-91ec286f7f07.png)

I'd be glad to add `enableSiteSettingsShortcut`, and possibly `isChromeOSOnly

[2020-09-21 17:07] JudahGabriel commented on #1115
Thanks for the bug report. I'm able to repro: the import script is missing from `Offline copy with backup offline page` recipe.

@jgw96 should be a quick fix, can you have a look?

[2020-09-21 17:09] JudahGabriel commented on #1112
Thanks for the bug report. I'm able to repro.

@lee-leonardo can you have a look?

[2020-09-21 17:19] JudahGabriel commented on #1110
Try adding this code to your service worker:

self.addEventListener('install', function(event) {
    event.waitUntil(self.skipWaiting()); // Activate worker immediately
});

This [skipWaiting()](https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerGlobalScope/skipWaiting) forces a new service worker to become the active service worker.

The cache-busted URL stuff shouldn't be used for ser

[2020-09-21 19:29] jgw96 commented on #1115
Yep can do, thanks for the heads up!

[2020-09-21 19:54] jgw96 commented on #1115
re-opening this temporarily until I can publish
![image](https://user-images.githubusercontent.com/8823093/93814554-86852780-fc09-11ea-988c-b668948417a0.png)

[2020-09-21 20:27] mamedioguilherme1 opened #1116 "Error generating macos package - PWABuilder"
I received the following error when generating a package for https://catalogo.morenarosa.com.br/

is the macOS the same build for iOS? or not?

[2020-09-21 22:04] jgw96 commented on #1115
Was able to publish finally (: This will be officially fixed when https://github.com/pwa-builder/pwabuilder-api/pull/122/ is merged.

[2020-09-21 23:04] JudahGabriel commented on #1104
@whiwo Ok, your service worker isn't running right now. Bring up partyfavorz.com in Edge or Chrome, then hit F12 -> Application -> Service Workers. You should see a service worker there, but currently there is none listed.

Also, for your images, you have a 192x191 image. Fix that so that it's 192x192.

[2020-09-21 23:12] JudahGabriel commented on #1109
@David-My2eWay You already [opened a question for this here](https://github.com/pwa-builder/PWABuilder/issues/1109). Closing this one, I'll reply there.

[2020-09-21 23:15] JudahGabriel commented on #1109
David,

How are you generating the APK - via the Android platform or via the Samsung platform?
![image](https://user-images.githubusercontent.com/312936/93830649-a296c200-fc25-11ea-8d81-3cbca210974f.png)

[2020-09-21 23:15] jgw96 commented on #1115
PR has been merged, thanks for the bug report @Natetronn !

[2020-09-21 23:15] #1115 closed

[2020-09-22 00:15] JudahGabriel commented on #1101
OK, looking at https://scadalivex.net and your service worker, I see it's only caching the offline page and the OpenSans font:
![image](https://user-images.githubusercontent.com/312936/93833548-c231e880-fc2d-11ea-80fd-0add45755760.png)

This means your service worker isn't caching your manifest or main HTML page. Your service worker is not the problem.

So the problem is something else.

Can you c

[2020-09-22 00:24] JudahGabriel commented on #787
No, last I heard. My understanding was Edge was going for pure web standards - if there is stuff you need to do that isn't available via web standards, let's make that available via web standards.

That said, I heard some recent murmurings from Edge folks about the possibility of still injecting WinRT / WinJS for installed PWAs, like we did for legacy Edge-based PWAs. I'll find out from Edge team

[2020-09-22 08:03] sunBhabani commented on #1101
Hi Judah,

Yes you are perfect to assume my problem. When the user has already installed the PWA, and I updated the manifest (e.g. app name/short_name or name or background/theme color) and only then is the old app name/theme colors are still displayed on the user's device. This is the problem am facing in my PWA APP. The New Changes are not automatically apply on user's handset.

Also one difficu

[2020-09-22 08:34] koenvd commented on #787
The alternative to achieve this might be a custom UWP WinUI3.0 app embedding a single Webview2 control and to use `window.chrome.webview.postMessage` to be able to call into the C# part of the app (and get access to the winRT API) as illustrated here https://github.com/hawkerm/monaco-editor-uwp/pull/32

For some extra context but in our current Edge-based PWA we call the winRT API:
-  to bring up

[2020-09-22 09:40] David-My2eWay commented on #1109
Hi,
We made the apk  via the Android platform, and upload it on google store.

[2020-09-22 15:19] glalloue opened #1120 "500 Error generating Appx package"
When generating the Windows package for https://geoffrey.lalloue.fr, the Windows package generation throws a 500 error.

Steps to reproduce the behavior:

- Go to pwabuilder.com
- Analyze https://geoffrey.lalloue.fr
- Build My PWA
- Click Windows -> Generate. "Package building error.

F12 dev tools shows the following error during the package generation call:
![image](https://user-images.githubuse

[2020-09-22 15:50] Natetronn opened #1121 ""Offline copy with Backup offline page" script not passing the following PageSpeed Insights"
**Describe the bug**
"Offline copy with Backup offline page" script _not_ passing the following Google PageSpeed Insights:

- Current page responds with a 200 when offline
- start_url responds with a 200 when offline

**To Reproduce**

Assuming you have a properly formatted manifest.webmanifest (manifest.json) and properly setup domain with https etc.

Steps to reproduce the behavior:
1. Go to htt

[2020-09-22 22:38] JudahGabriel commented on #1121
@natetronn For the missing imports, we've just recently fixed that: https://github.com/pwa-builder/PWABuilder/issues/1115

If the import is fixed, does it pass Google Page Speed?

[2020-09-22 22:57] JudahGabriel commented on #1120
Hi @glalloue,

I'm able to repro your problem.

Looking into the issue, you have malformed HTML. In particular, if I issue a raw HTTP GET call to https://geoffrey.lalloue.fr, here's the response I get:

[code]

Notice you're missing quotes around your values:

[code]

It should be:

[code]

Fix up your HTML, then your app should be generated.

[2020-09-22 23:06] JudahGabriel commented on #1116
No, MacOS is not the same as iOS. MacOS is the desktop operating system (MacBook, etc), and iOS is the mobile operating system (iPhone, iPad).

We have removed support for iOS from PWABuilder until Apple clarifies their new policy about HTML-based apps in their iOS app store. [Details here](https://github.com/pwa-builder/PWABuilder/issues/799#issuecomment-641614743).

I'm able to repro.

@lee-leon

[2020-09-22 23:08] JudahGabriel commented on #1079
Hi @IntegralSolutions-Asia I need to do further testing on this, but it appears your website is not up.

[2020-09-22 23:21] JudahGabriel commented on #1101
OK, this is not a PWABuilder issue, but rather, an Android Trusted Web Activity issue. I recommend you open a case over at the [Bubblewrap repo](https://github.com/GoogleChromeLabs/bubblewrap/issues) and explain your issue. Bubblewrap is the Google tool we use for generating the Android Trusted Web Activity; the Google team there may be able to better help you with your issue.

When you create you

[2020-09-22 23:32] JudahGabriel commented on #1109
Thanks.

Paging @davrous: here's another case where we need clarification on the Samsung platform. Does Samsung browser support Trusted Web Activity (TWA)? If so, we can get rid of Samsung platform and just use Android.

But, if Samsung browser doesn't support TWA, then we probably still need the Samsung platform with web view.

[2020-09-22 23:40] Natetronn commented on #1121
I'm not seeing that #1115 has been fixed, actually. At least it's not in the code section on the page itself. And I'm not seeing it in any of the files that had changes either.

![import bug](https://i.imgur.com/iQEfhIF.png)

No, I added the import myself, of course. I wish it had been the case that I forgot or something.

I discovered this bug after I discovered the import bug #1115. In console i

[2020-09-22 23:51] Natetronn commented on #1121
Okay, I added the offline copy with backup offline page for you to test with yourself (was working fine 2 minutes ago in offline page mode)

https://aggressivecarwraps.com
https://aggressivecarwraps.com/offline.html
https://aggressivecarwraps.com/pwabuilder-sw.js

If you'd like me to revert back to offline page only, let me know.

[2020-09-22 23:55] JudahGabriel commented on #1115
@jgw96 @Natetronn mentioned he's still seeing this bug. I checked in preview.pwabuilder.com, and I'm still seeing it too: https://preview.pwabuilder.com/serviceworker

Should it be fixed in preview?

[2020-09-23 00:15] JudahGabriel commented on #1121
Thanks, I'm able to repro: if I run https://aggressivecarwraps.com through Dev Tools -> Lighthouse, I see the following:

![image](https://user-images.githubusercontent.com/312936/93949831-8878e480-fcf6-11ea-8bbc-4052b58cc820.png)
![image](https://user-images.githubusercontent.com/312936/93949961-ed343f00-fcf6-11ea-84de-9c114d5cfeab.png)

I also tried running your site offline, and it worked fine.

[2020-09-23 00:16] JudahGabriel commented on #1120
Closing this for now since it's an HTML issue on your site. If you fix the issue and you still hit a problem with app generation, feel free to reopen this bug.

[2020-09-23 00:27] Natetronn commented on #1121
Thanks @JudahGabriel !

I'm seeing that it's working now in offline mode, passing PWA Builder's test too but, that the Lighthouse report isn't registering correctly or visually displaying an offline version when it's running its test (you can see it switch to offline but, it's just the greyish Google error instead of either cache or offline page.)

Aside: assuming it's fixed, is there a way to tes

[2020-09-23 01:54] IntegralSolutions-Asia commented on #1079
Hello Judah,
Thanks for investigating the issue. Btw, The website is up and we have never turned off the server. Still it’s working fine. Please check and let me know if you find any difficulties to access the application.

Thanks and Best regards
N.Pragash
Managing Director - Integral Soluions Lanka(pvt) Ltd.
Software Development Manager - Integral Solutions (Asia) Pte. Ltd
Mobile SL : +947708907

[2020-09-23 07:50] glalloue commented on #1120
Ok, thanks for your feedback.
Unfortunately, this line is generated by PWA vue.JS plugin in my project. I can't add quotes manually.
I will create ticket to this plugin to try to fix it.

[2020-09-23 11:54] sunBhabani commented on #1101
Hi Judah,

So many thanks for your reply.

About the first issue i have raised a support on 'Bubblewrap repo'.

About the second issue, when I first created my Android app on PWABuilder, I have set Launcher name is 'JSPL SCADA Live-X'. But after the Next Day, I have changed the 'short_name' in 'manifest.json' to 'JSPL Live-X', reason for a short name. These are the confusion at my end. I have trie

[2020-09-23 12:18] davrous commented on #1109
I've just tried setting Samsung Internet as the default browser of my Android phone and the TWA seems to work, I don't see the address bar. Tested on Samsung Internet v12.1.2.5.

[2020-09-23 13:00] David-My2eWay commented on #1109
I just try to install Samsung Internet v12.1.2.5 and uninstall Google Chrome, the address bar is still present on my app with Samsung Internet

 setting Samsung Internet as the default browser is not engough maybe, if you used  the app one time before with Chrome

[2020-09-23 15:41] LewPerren commented on #1110
Thanks @JudahGabriel - this is really helpful.

[2020-09-23 18:13] jgw96 commented on #1121
Hey all! Just trying to understand here, so it sounds like this was just lighthouse not seeing the service worker correctly or something?

[2020-09-23 18:39] Natetronn commented on #1121
When you use the third version of the script i.e. "Offline copy with Backup offline page" it gives the above errors and doesn't load either offline version (cached nor offline backup page) and instead you see the Google network error page (while PageInsights is running its test.)

To answer your question:

In my initial testing, it wasn't working on PWA Builder's test, nor in PageSpeed, nor when m

[2020-09-23 23:45] Natetronn commented on #1121
I'm going to revert back to the offline page for now, as it's a live site. Let me know if you need me to switch to the other version again.

[2020-09-24 04:37] sunBhabani opened #1125 "How can I upload a New TWA version on Google Play Store ?"
Dear Support,

Using the PWABuilder I have successfully downloaded my .aab file and uploaded it Play Store. Now it live. During the Download some other content also available in the Zip like (signing.keystore, signing-key-info..)

So, I have read inside the 'signing-key-info.txt' file and it say's (_Keep your this file and signing.keystore in a safe place. You'll need these files if you want to up

[2020-09-24 05:43] dejancencelj opened #1126 "App shortcuts not working - App isnt't installed."
**Describe the bug**
When try to open app by pressing on app shortcut I get " App isnt't installed." error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create PWA using **https://www.rtvslo.si**
2. Install app
3. Long press on app icon
3. Click on app shortcut
4. App isnt't installed." error.

**Expected behavior**
Should lunch a subpage

![Screenshot_20200924_073451_com huawei android l

[2020-09-24 05:51] dejancencelj commented on #1126
I found issiue also here https://github.com/GoogleChromeLabs/bubblewrap/issues/335

[2020-09-24 14:36] produktive opened #2472 "[pwa-auth] Add ability to set signInButtonText to image or svg"
I'd like to use an icon instead of text. I tried pasting inline svg code for the signInButtonText but it shows as text, not as an image.

[2020-09-25 08:41] rajandimri commented on #1052
I emailed them on the same day, but did not receive any revert or ticket.> Hello! Samsung told me you can try to reach this alias to ask for help: pwasupport@samsung.com. Thanks!

[2020-09-25 21:31] JudahGabriel commented on #1126
This is appears to be a Bubblewrap bug. I'll leave this opened for now until the Bubblewrap folks have a fix.

[2020-09-25 21:42] JudahGabriel commented on #1125
First, understand that you can update your web code and your existing PWA will automatically get updated.

If you want to upload a new version *of your Android package*, you'll just supply your existing key when building your app on PWABuilder:

- Go to PWABuilder and put in your URL
- Once your PWA is analyzed, go to the "Build my PWA"
- Click Android, then click Options
- In the Options dialog,

[2020-09-25 21:45] JudahGabriel commented on #1125
And, thanks for pointing out this isn't documented. We'll update the "next-steps" readme with these instructions. 😎

[2020-09-25 21:51] JudahGabriel commented on #1113
This is under PR and review, and should be available to try out in https://preview.pwabuilder.com later today. Likely in production next week. 😎

[2020-09-25 22:12] JudahGabriel commented on #1125
I've updated our documentation for this process: https://github.com/pwa-builder/CloudAPK/blob/dev/Next-steps.md#uploading-a-new-version

This doc will soon be included in your zip file when you download your Android package.

[2020-09-25 22:12] #1125 closed

[2020-09-25 22:14] JudahGabriel commented on #1110
Cool. Closing for now, please feel free to reopen if you continue to hit issues.

[2020-09-25 22:14] #1110 closed

[2020-09-25 22:18] JudahGabriel commented on #1101
OK, here's what I recommend: upload a new version of your Android app to the Play Store.

It's simple to do: follow the instructions here in [Updating your Android app to a new version](https://github.com/pwa-builder/CloudAPK/blob/dev/Next-steps.md#uploading-a-new-version).

Good luck, and let us know if this fixes your issue.

[2020-09-25 23:14] JudahGabriel commented on #995
If you check F12 dev tools while running PWABuilder, you'll see the reason for the errors:

- Two of our manifest detectors fail with "400 bad request"
- The third manifest detector [gives the following error](https://pwabuilder-manifest-finder.azurewebsites.net/api/findmanifest?url=https://test.memoryjoggerlibrary.com&verbose=1):

"The response ended prematurely" - the HTML fetch call to just get

[2020-09-26 16:09] hasansudirgo opened #1129 "Error generating androidTWA package"
I received the following error when generating a package for https://sirsipd.com/admin/index.html

[2020-09-27 08:07] chsasank opened #1130 "[FEATURE] Better integration/tutorial for react based web apps"
**Is your feature request related to a problem? Please describe.**

Current implementation suggested in the pwabuilder website is quite 'hacky' because it aims to make PWA out of every website. However, this hacky implementation is not easy to maintain and closer integration with build system would be useful. React is one of the most common frontend frameworks these days. I think it deserves to ha

[2020-09-27 14:27] ParshuramPatil opened #1131 "Manifest is declared but getting "Couldn't find an app manifest." error on inspection"
**Describe the bug**
Getting "Couldn't find an app manifest." error on inspection.
App URL: https://parshurampatil.com/tools/fintrak/
Manifest URL: https://parshurampatil.com/tools/fintrak/manifest.json

Edge/Chrome is able to find the manifest but the PWABuilder is not.

**Expected behavior**
PWABuilder should be able to find app manifest

**Screenshots**
![image](https://user-images.githubuserco

[2020-09-27 19:00] #868 closed

[2020-09-28 04:08] chsasank commented on #1130
You can checkout my progress/plan here: https://github.com/chsasank/pwa-react
Your comments on how I should do things better is highly appreciated.

[2020-09-28 05:10] sunBhabani commented on #1125
Dear Judah,

Thanks for your documentation and details guidelines in picture wise. I really appreciated and thanks a lot. Also i have successfully uploaded my new Build on Play-Store. And same also published like awesome.

2 Things still needs to be improvement:
1: After build the APK using PWABuilder, when the APP lunch on a handset/emulator, the beginning **Splash Screen** only display the Image

[2020-09-28 09:24] damian-mariachi-team opened #1132 "Error creating package by generate TWA"
**Describe the bug**
I'l try to generate TWA from my PWA:
https://mood-trackr.pitaya-framework.com

**To Reproduce**
Steps to reproduce the behavior:
By Click on 'Download' for Download my PWA package for Google Play' i have Error message:

[code]

[2020-09-28 09:55] dejancencelj commented on #1126
Bubblewrap folks fix bug.

[2020-09-28 12:16] Chandresh1007 opened #1133 "test bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional info (please complete the

[2020-09-28 12:17] #1133 closed

[2020-09-28 19:16] dejancencelj commented on #1126
fixed :)

[2020-09-29 18:36] rajandimri commented on #1052
@davrous , @JudahGabriel I don't think this email address is gonna work. I mailed them one week before but no response. I don't think this email address is monitored by Samsung.

[2020-10-01 16:49] jgw96 commented on #1131
Thanks for opening an issue with us, I am goig to be looking into this today.

[2020-10-01 20:22] mustjab opened #1134 "[PWA] User has created the icons using PWA Builder and now get a bunch of warnings about incorrect sizes."
**Describe the bug**
I created the icons using PWABuilder (which is offered in the "Icons" section -- "Need help? Use our App Image Generator"), and now I get a bunch of warnings about incorrect sizes. It'd be nice if we could get these two things worked out.

**To Reproduce**
Steps to reproduce the behavior:
1. Create PWA using pwabuilder.com for http://localhost:3020/schedule
4. See warnings abo

[2020-10-01 20:42] jgw96 commented on #1131
Manifest detection issue is fixed here https://github.com/pwa-builder/PWABuilder/tree/manifestFix but this uncovered a race condition farther on in the code. I am going to fix that first before closing this.

[2020-10-02 08:06] dejancencelj commented on #1126
Just tried to build my app and shortcuts still not working :/

[2020-10-02 16:47] JudahGabriel commented on #1129
Hi,

I'm unable to repro. I input your URL, https://sirsipd.com/admin/index.html, into PWABuilder and I was able to generate an Android package. Can you try again?

[2020-10-02 17:14] hasansudirgo commented on #1129
I have tried again, and yes, now I am able to generate the Android package.
Thank you very much!

On Fri, Oct 2, 2020 at 11:47 PM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-10-02 17:32] jgw96 commented on #1126
@dejancencelj what does your shortcuts object in your manifest look like? Would you mind posting a screenshot? @JudahGabriel I can confirm that shortcuts are working for two of my PWAs when packaged with PWABuilder.

[2020-10-02 17:34] jgw96 commented on #1121
@Natetronn thanks for the info, ill do some more digging here.

[2020-10-02 17:40] jgw96 commented on #1132
Hey @damian-mariachi-team , unfortunately I cannot reproduce this issue, in fact I have attached the downloaded zip I got from PWABuilder. Would you mind trying again?
[c2beca48-8b45-4ec8-85ed-cf0cd8c9348c.zip](https://github.com/pwa-builder/PWABuilder/files/5319468/c2beca48-8b45-4ec8-85ed-cf0cd8c9348c.zip)

[2020-10-02 17:51] jgw96 commented on #1129
Thanks @hasansudirgo !

[2020-10-02 17:51] #1129 closed

[2020-10-02 17:53] jgw96 commented on #1078
Hey all! As this issue was originally a question and has been inactive for about 24 days I am going to close this for now. Thanks everyone!

[2020-10-02 17:53] #1078 closed

[2020-10-02 17:56] jgw96 commented on #1063
@JudahGabriel  and @davrous are we keeping this issue open? I see that the above #995 seems to be a site configuration error as all three of our fallbacks fail and all the other URLs in this issue have been fixed. Finally, this one https://github.com/pwa-builder/PWABuilder/issues/1131 is also fixed now. We could also keep this one open to just generally track this, so its up to yall (:

[2020-10-02 17:58] jgw96 commented on #951
Looking into this

[2020-10-02 18:02] JudahGabriel commented on #1134
Mustapha, that image is scaled way down, I can't see the warnings. Is it warnings about non-square image sizes? If so, that's to be expected. Let me know.

[2020-10-02 18:04] JudahGabriel commented on #1126
@dejancencelj Is there a new Bubblewrap release with this fix? If so, let us know and we'll update PWABuilder to use the new Bubblewrap release.

[2020-10-02 18:06] jgw96 commented on #951
Ran this site through preview and sure enough it runs into our timeout
![image](https://user-images.githubusercontent.com/8823093/94955287-2e6ae280-049f-11eb-8f15-229a23f447c4.png) which means that its related to the navigation.serviceWorker.ready event issue. Going to keep digging into this.

[2020-10-02 18:59] #458 closed

[2020-10-02 21:28] jgw96 commented on #951
Update on this, this works fine when i run the API locally but in Azure it times out, so doing some more digging

[2020-10-02 21:43] JudahGabriel commented on #1134
Got the updated image. Indeed, it is "image is not square" warning:

![image](https://user-images.githubusercontent.com/312936/94972234-acd67d00-04bd-11eb-9469-5ed4deb75a3d.png)

[2020-10-03 15:24] sunBhabani opened #1136 "Beginning Splash Screen only display Image and not showing the footer Text."
Dear Support,

After build the APK using PWABuilder, when the APP lunch on a handset/emulator, the beginning Splash Screen only display the Image. Not showing the footer Text. Actually It's not obey the Manifest strings like before. I have attached an image which illustrated the splash screen difference between the normal 'ServiceWorker' prompt installation & Play-Store installation.
image:

[http

[2020-10-03 15:26] sunBhabani opened #1137 "How to automatically force TWA to update, if a latest version on PlayStore available"
Dear Support,

Can it possible to show something like a PopUp/Button over my WebAPP when a 'New build' available on Play Store. So that the user can easily to know there is a New Version now available and once they click on the Popup/Button it will automatically redirect to PlayStore for Update the APP.

[2020-10-03 15:34] sunBhabani opened #1138 "Browser AddressBar still showing on latest Android phones > 10+"
Hi support,

It's really strange for me, most of phones do not showing the Browser Address Bar which are Android less than version 9. But some higher version (>=10) of Android set, the Address bar always showing.

How it possible and why it's happening like so. Please guide some support.

[2020-10-04 04:41] ParshuramPatil commented on #1131
Thanks Justin.
Will test & confirm from my side once its closed.

[2020-10-04 09:10] YoavRheims opened #1139 "Builder is broken"
**Describe the bug**
The Builder is not functioning. Upon a deeper investigation, it looks like some resources are unavailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.pwabuilder.com/
2. Add a website to test
3. Then click on "Build My PWA" button
4. See error in the console

**Expected behavior**
The next step of the builder.

**Screenshots**
![image](https://user-

[2020-10-05 08:08] dejancencelj commented on #1126
https://github.com/GoogleChromeLabs/bubblewrap/commit/2f847cd3eb132e9c28ae5342149a42f94f3ac528

[2020-10-05 15:22] jgw96 commented on #1139
Hey, sorry PWA Builder is not able to package your app! Could you please post the URL of the app you are trying to package?

[2020-10-05 15:24] YoavRheims commented on #1139
I found an alternative already. Just wanted to report the errors I was getting.

[2020-10-05 15:28] jgw96 commented on #1138
Hello, sorry you are having troubles! Have you followed the instructions here? https://github.com/pwa-builder/CloudAPK/blob/master/Next-steps.md Android Version between 10 and 9 does not make any difference here and what controls if the browser bar shows or not is your assetlinks file which is described in the link I posted above.

[2020-10-05 15:45] jgw96 commented on #1126
@JudahGabriel I can confirm shortcuts are working for our builds, I think it is something @dejancencelj has wrong in their app manifest. @dejancencelj , I dont get shortcuts from your PWA when i install it to the desktop either from Edge
![image](https://user-images.githubusercontent.com/8823093/95101165-b262db80-06e6-11eb-8958-51e2d0766cf4.png) while I do for my test apps + production PWAs that h

[2020-10-05 15:49] jgw96 commented on #1139
@YoavRheims Sounds good, it would still make debugging alot more useful if you could post the URL though 😊. I am going to close this one for now since you have moved on, but please feel free to post the URL as I'd love to be able to figure out what went wrong on my end. What alternative did you end up going with?

[2020-10-05 15:49] #1139 closed

[2020-10-05 15:51] YoavRheims commented on #1139
Used Google Workbox. This is the website: https://beersheva.city/

[2020-10-05 15:52] jgw96 commented on #1136
Hey @sunBhabani , this is a limitation in Chromium on Android and is outside of PWABuilders control. When you install your PWA from the browser on Android, it creates what is called a webAPK under the hood that is custom to Chromium. Because it is not a "true" Android app at that point, it acts a little different such as the different splash screen you noticed. You will also notice minor things su

[2020-10-05 15:52] #1136 closed

[2020-10-05 16:27] lee-leonardo commented on #1116
@mamedioguilherme1 your images don't have a source attribute, the download will fail due to that.

[2020-10-05 17:44] JudahGabriel commented on #1137
I don't think that's something PWABuilder itself could provide.

However, your app could query your Play Store's app page to see what the latest version is, then do whatever logic you need off that. See [programmatically checking the Play Store for app updates](https://stackoverflow.com/questions/25201349/programmatically-check-play-store-for-app-updates) for more info.

[2020-10-05 17:44] #1137 closed

[2020-10-05 17:57] dejancencelj commented on #1126
Hello!

Edge shortcut are working just fine.

My manifest is here https://www.rtvslo.si/manifest.json

I'll try now to build another version for android.

![image](https://user-images.githubusercontent.com/2170647/95114808-ca694800-0744-11eb-8d28-e8e699a53209.png)

[2020-10-05 18:00] dejancencelj commented on #1126
pwabuilder not working at the moment. will try again tomorrow.

![image](https://user-images.githubusercontent.com/2170647/95115196-5ed3aa80-0745-11eb-89c5-4a881253cddc.png)

[2020-10-05 19:11] GlenKPeterson commented on #995
@JudahGabriel Thank you for your response and your work on this project.  I was surprised to discover that `wget` `wget` classic returns this:

[code]

Doing a quick search of `invalid_preface` yields this: https://stackoverflow.com/questions/44243764/http-2-issue-with-jetty-invalid-preface

In `wget2` it works perfectly!

My best guess is that this site uses HTTP2 (served by Jetty).  Is ALPN/H2 n

[2020-10-06 11:58] dejancencelj commented on #1126
O just build again. Same problem.

[2020-10-06 11:58] dejancencelj commented on #1126
[Uploading RTVSLO.si_10_0_33_0.apk.zip…]()

[2020-10-06 12:56] davrous commented on #1063
I'm sorry but I still see some issues with those sites:

- https://rada20.ir the manifest is not detected whereas it should as the fallback of Judah is working above
- https://play.esviji.com same no manifest detected

[2020-10-06 13:11] davrous commented on #1132
I've been able to generate also the Android packages. Maybe it was a temporary issue on our side. I'm then closing the issue. @damian-mariachi-team, if you're still experiencing an issue on the Android generation, please re-open. By the way, nice job on managing all manifest properties! Screenshots, category and shortcuts 👍

[2020-10-06 13:11] #1132 closed

[2020-10-06 13:15] davrous commented on #277
Closing this old issue. Will integrate this feedback in our future redesign with our UX designer.

[2020-10-06 13:15] #277 closed

[2020-10-06 13:16] davrous commented on #216
Closing this old issue. Will share this feedback with our future UX designer.

[2020-10-06 13:16] #216 closed

[2020-10-06 13:18] davrous commented on #567
This is interesting feedback. I think we need to force people in the future to provide a good quality base image (such as 512x512) as anyway some platform require that. Closing this issue in the meantime.

[2020-10-06 13:18] #567 closed

[2020-10-06 13:19] davrous commented on #594
Not a priority anymore. I'm still keeping in mind working on this but not soon. Let's close this.

[2020-10-06 13:19] #594 closed

[2020-10-06 13:21] davrous commented on #605
As this is an old issue opened without activity, I'm closing it. @boyofgreen, please honor your request for stickers for the great @thepassle ;)

[2020-10-06 13:21] #605 closed

[2020-10-06 13:28] davrous commented on #1052
@rajandimri, sorry for this long time to solve this issue. I've found this old bug related to the Samsung Store: https://github.com/pwa-builder/PWABuilder/issues/699. Can you please check if adding this special line of code in your package would help? Thanks!

[2020-10-06 13:29] davrous commented on #699
Wow! Thank you so much @vincent4vv Discovering super late this super valuable information. @JudahGabriel @jgw96 , this probably explains why some users were having issue with the Samsung store. This bug: https://github.com/pwa-builder/PWABuilder/issues/1052 could probably be resolved with this additional line of code in the APK. I'm going to ping our Samsung friends to tell them.

[2020-10-06 13:29] #699 closed

[2020-10-06 13:33] IgorBraga21 opened #1140 "[Question]"
I need to clear some doubts with you;

1 ° When generating the Windows file can I upload it to the windows store platform?

2 ° Can you provide me with the documentation on how to upload or the link, please?

3 ° My system already has the entire PWA system introduced, do I need to make any modifications to the file I download from Windows in order to be able to climb on their platform?

http://prn

[2020-10-06 13:53] davrous commented on #1140
Hi,

Here are the steps:

1 - Create yourself a developer account if you still don't have one of the Microsoft Store: https://partner.microsoft.com/en-US/dashboard/apps/signup. It's 14€ for Individual, 75€ for companies.
2 - Create a new app in the dashboard to reserve the app name:

![image](https://user-images.githubusercontent.com/933018/95209709-f0492800-07ea-11eb-9ad9-82baa9cac7c8.png)

And g

[2020-10-06 13:53] #1140 closed

[2020-10-06 16:52] JudahGabriel commented on #1113
Quick update on this: We delayed the public release for a bit while we roll out our new Windows platform. But we should have a production release this week.

[2020-10-07 04:51] rajandimri commented on #699
Hi, I'm not able to access the code of apk. And not aware of the apk code development, can you please guide me on how can I add these lines of code in the generated apk by pwabuilder.com ? @JudahGabriel @davrous @jgw96

[2020-10-07 14:10] pnkapadia64 opened #1142 "[Question] Images downloaded on Windows app generation are default pwa images"
**Question in detail**
I've generated Windows app on pwabuilder.com. The directory generated has the default PWA images it seems.
Our website URL for PWA (https://www.crazygames.com/pwa/install)

**Describe alternatives you've considered**
Are the images to be defined somewhere within the app or website which would be picked by the pwabuilder.
Because of these images, our app is being rejected by

[2020-10-07 16:16] JudahGabriel commented on #787
Update on this: we're building the UI for specifying the options of the new Chromium-based platform. We anticipate this will be released either later this week or next week.

[2020-10-08 08:03] rajandimri commented on #1052
@davrous @JudahGabriel @jgw96
Hi, I'm not able to access the code of apk. And not aware of the apk code development, can you please guide me on how can I add these lines of code in the generated apk by pwabuilder.com ?

Orignal post - [Cannot upload apk to Samsung #699
](https://github.com/pwa-builder/PWABuilder/issues/699)

[2020-10-08 15:37] rajsite commented on #1131
I also get the "Couldn't find an app manifest." error with my PWA and am curious if it is resolved by this PR as well or if I should open a new issue:

App URL: https://hosting.systemlinkcloud.io/webapps/57932453-f5ae-4ff3-a8a9-6eb5238f441b/content/ni-paths-NISHAREDDIR64/Web%20Server/htdocs/WebApp/index.html

Mainfest URL: https://hosting.systemlinkcloud.io/webapps/57932453-f5ae-4ff3-a8a9-6eb5238f

[2020-10-08 18:02] pnkapadia64 commented on #1142
@jgw96

[2020-10-08 21:21] JudahGabriel commented on #1142
@pnkapadia64 To workaround this, add a 44x44, 50x50 and 150x150 png images to your web manifest, then repackage.

Be aware that in the next few days, we'll be releasing a preview of our new Windows packaging service that fixes this issue.

[2020-10-08 21:21] #1142 closed

[2020-10-08 21:22] JudahGabriel commented on #1138
@sunBhabani Did [following these steps](https://github.com/pwa-builder/CloudAPK/blob/master/Next-steps.md) fix the issue for you?

[2020-10-08 21:25] JudahGabriel commented on #1134
I'm closing this because this is not a bug: PWABuilder image generator creates images for multiple app platforms (Windows, Android, Mac, Samsung), and some of those platforms require some non-square images. Windows, for example, recommends a wide tile image with 310x150 dimensions.

[2020-10-08 21:25] #1134 closed

[2020-10-08 22:38] pnkapadia64 commented on #1142
@JudahGabriel Ok thank you very much!

[2020-10-09 04:08] sunBhabani commented on #1138
Hi Judah,

Thanks for your good support.

In my Google Developer Console, unfortunately I have generated an another "**APP Signing Key**' during my first time work. That time really am not aware about this. (Screen shot herewith). So in my 'assetlinks.json' I have included only the **First SHA-256 certificate fingerprint**. And after that I have checked in android **8 & 9** phones the Address Bar

[2020-10-09 07:09] mghlabs opened #1143 "Error generating androidTWA package"
I received the following error when generating a package for https://test.sefu.in/admin/kriscampus2/

[2020-10-09 08:52] glalloue commented on #1120
vuejs team fix the problem and push it to 4.5.7 version :
https://github.com/vuejs/vue-cli/issues/5896
I updated my project with this version and always have the same problem to generate windows package. So i reopen this issue.

Missing quotes are now here :
![image](https://user-images.githubusercontent.com/10628710/95563111-44d3e980-0a1d-11eb-8926-8253d1f83b98.png)

And i receive the same error

[2020-10-09 08:58] glalloue opened #1144 "500 Error generating Appx package"
When generating the Windows package for https://geoffrey.lalloue.fr, the Windows package generation throws a 500 error.
Linked issue : https://github.com/pwa-builder/PWABuilder/issues/1120

Steps to reproduce the behavior:
- Go to pwabuilder.com
- Analyze https://geoffrey.lalloue.fr
- Build My PWA
- Click Windows -> Generate. "Package building error.

F12 dev tools shows the following error during

[2020-10-09 17:08] GlenKPeterson commented on #995
I have posted a new version of our app at https://test.memoryjoggerlibrary.com/

I added a unit test which checks that the manifest is accessible without signing in, returns 200, mime type "application/manifest+json", and contains some appropriate JSON.  You can prove this for yourself right here:
https://test.memoryjoggerlibrary.com/manifest.webmanifest

This web service: https://pwabuilder-tests

[2020-10-09 18:45] JudahGabriel commented on #1138
That's fine, there's no harm in leaving them.

To be clear, once you added the additional SHA256 fingerprints, your app is working correctly now? Or are you still hitting an issue on certain Android devices?

[2020-10-09 19:22] jgw96 commented on #1131
@rajsite Thanks for sharing your URL! I can confirm that it works with the latest fix in preview, that will be deployed very soon to production! We ran into a few other things we wanted to get done before we released, but we are super close!

[2020-10-10 00:08] lee-leonardo commented on #1120
hey @glalloue I will be monitoring this issue for you alongside your other. I believe this might be fixed with a deployment that is scheduled. I think there was a race condition that was uncovered and that PR might resolve your issue. Doing some investigating it seems that the manifest information is not being sent along with a unique identifier for your application. I did some snooping around but

[2020-10-10 00:08] lee-leonardo commented on #1144
hey @glalloue I will be monitoring this issue for you alongside your other. I believe this might be fixed with a deployment that is scheduled. I think there was a race condition that was uncovered and that PR might resolve your issue. Doing some investigating it seems that the manifest information is not being sent along with a unique identifier for your application. I did some snooping around but

[2020-10-10 00:08] #1144 closed

[2020-10-10 00:08] lee-leonardo commented on #1144
As this is a duplicate I'm closing this issue, I'll address the older one.

[2020-10-10 00:13] lee-leonardo commented on #1112
This seems correlated to another problem I'm seeing, the id that the manifest is stored at in redis is not being set. Will need to touch base before I go further.

[2020-10-10 00:16] lee-leonardo commented on #1108
fails on preview, I think this is related to a bug with the id. Took a look, but I will need to touch base with Justin. The logic for the manifest stuff is getting spaghetti

[2020-10-10 03:44] sunBhabani commented on #1101
Thanks it works fine now.

[2020-10-10 03:50] sunBhabani commented on #1138
Hi, as per our testing most of Android Handset works fine. One thing reported, if someone previously using the APP, then he/she must clear the Google Chrome History, then the APP loads with out any Address Bar. It's only a difficult we are facing. If someone newly download the APP then there is no problem for him. Only the issue is if someone previously using the APP, the address bar showing on TO

[2020-10-10 09:18] amalantony119 opened #1145 "Error generating androidTWA package"
I received the following error when generating a package for

[2020-10-10 14:24] mohamedtaher2020 opened #1146 "Error generating androidTWA package"
I received the following error when generating a package for https://www.dcart.tn

[2020-10-10 14:24] #1146 closed

[2020-10-10 20:07] ndiing opened #1147 "Error generating web package"
I received the following error when generating a package for my app

[2020-10-10 22:00] #878 closed

[2020-10-10 22:00] #845 closed

[2020-10-12 11:17] sathish78 opened #1150 "How to use a non chrome browser for PWA?"
Chrome is not supporting one main function of my app But others do. So How should the user prefer the PWA to work with any other browser like Mozilla, Opera etc

[2020-10-12 15:23] stepanrumyantsev opened #1151 "[FEATURE] - Android project source code output"
Hello!

Would be great if you could output the Android project with all the source code files along with the android package/bundle files. Pwa2apk (competitive online apk builder) allows this. And this is handy when I want to edit some dependencies to, for example, ad adds or so.

Thank you!

[2020-10-12 15:51] lee-leonardo commented on #1150
@sathish78 which functionality is that? It's be easy to look for a polyfill and support:
https://caniuse.com/

Or you can go the route of using Babel or some transpiler to automatically do that for you!
https://babeljs.io/

I'd recommend using typescript to provide you with a lot of type safety features, and ability to choose the support level from the tsconfig file.
https://www.typescriptlang.org

[2020-10-12 15:53] lee-leonardo commented on #1147
@ndiing we currently have a bug with some caching that impacted our web app.
However to look deeper into this we will need a url to check against.

[2020-10-12 15:54] lee-leonardo commented on #1104
@whiwo do you still need support?

[2020-10-12 16:11] lee-leonardo commented on #1130
Hey @chsasank,

As an fyi I'm pretty new with PWAs as well, but just adding a service worker is only one thing that'll help an app transition to a PWA. Depending on the use case and development plan, aspects of a PWA make more sense than others. I'd recommend using Lighthouse as well as PWABuilder to help you evaluate aspects of your app performance-wise to track progress to an app-like experience

[2020-10-12 16:14] lee-leonardo commented on #1079
@JudahGabriel  @IntegralSolutions-Asia

Navigating on this link seems to indicate that the network call is made via HTTP rather than HTTPS, puppeteer will fail to load and run successfully. That's most likely the cause of the issue. It won't let me navigate even in chrome. Also the url above specifies a port, it that intentional?

[2020-10-12 23:17] whiwo commented on #1104
I’ve been playing around with it and everything is fine except the service worker. I created the pwabuilder-sw.js and changed the offlineFallbackPage to offline.html in the code and then uploaded an empty offline.html to the root along with the pwabuilder-sw.js file. The manifest is also included in the root folder.

I then added the script to the top of my header (which messes up the preload for

[2020-10-13 00:18] JudahGabriel commented on #1151
Yeah, we could do this.

Are you looking for enhancement for PWABuilder.com? Or directly from the CloudAPK service?

I don't think we'd include it in the default download from PWABuilder because it would greatly increase the size of the download. But I'd be opened to adding it as an option.

[2020-10-13 00:20] JudahGabriel commented on #1145
@amalantony119 what URL are you using?

[2020-10-13 00:23] JudahGabriel commented on #1143
I'm unable to repro. When I put https://test.sefu.in/admin/kriscampus2/, **wait for the analysis to complete**, then click Build My PWA, I'm able to successfully download it.

Can you try again after waiting for analysis to complete?

[2020-10-13 00:24] #1138 closed

[2020-10-13 00:32] JudahGabriel commented on #1125
PWABuilder relies on Google's Bubblewrap to create the splash screen. If you want to see this changed, you should open an issue over at the [Bubblewrap repo](https://github.com/googlechromelabs/bubblewrap).

I think you asked this in another thread, but the short answer is: there's nothing built-in for this. You'll need to query the Google Play store to see if a new version is available, then manu

[2020-10-13 00:45] JudahGabriel commented on #1116
@mamedioguilherme1 In particular, you need to fix these issues (visible when bringing up F12 dev tools in Edge or Chrome):

![image](https://user-images.githubusercontent.com/312936/95802570-baa4b300-0cb2-11eb-8db5-7fc1980563aa.png)

Fix those and try again.

[2020-10-13 00:45] #1116 closed

[2020-10-13 03:48] IntegralSolutions-Asia commented on #1079
Thanks for the updates. we have configured the ssl certificate already and please share the screenshot if you encountered any errors on ssl redirection. we included the port number intentionally as our domain provider request us to keep as we are not using default ssl port 443. If you want us to deploy in another server, we can deploy and give you a new URL. Please update us.

[2020-10-13 05:19] stepanrumyantsev commented on #1151
Thanks for the fast reply! I was talking about PWABuilder.com. Would be nice to have this feature as an option. Like Download source code or Download Android project.

Thank you!

[2020-10-13 16:25] #1150 closed

[2020-10-13 17:11] JudahGabriel commented on #1104
Looking at the HTML of partyfavorz.com, I don't see any service worker registration.

[2020-10-13 17:23] lee-leonardo commented on #1101
@JudahGabriel @davrous

closing issue as the commenter replied this issue has been fixed.

[2020-10-13 17:23] #1101 closed

[2020-10-13 17:56] whiwo commented on #1104
Hey Leonardo,

Big thanks for getting back with me. I just removed the service worker right before you emailed me which is why you’re not seeing it. I’ve been cleaning up my sloppy code all morning long and noticed that the manifest wasn’t allowing me to save to desktop any longer. Than again, that might because I changed the urls for the avatar. My logo had been getting a refresh because the old

[2020-10-13 18:58] lee-leonardo commented on #759
Looking into it, the user's service worker registration checks to see if the Notifications are enabled and escapes the execution early, puppeteer by default sets chrome to deny notifications (by test, docs seem to indicate it is enabled). I don't see the value in enabling it for this url. Thoughts? @jgw96 @JudahGabriel

<img width="733" alt="Screen Shot 2020-10-13 at 11 46 30 AM" src="https://user

[2020-10-13 19:27] msveshnikov opened #1154 "Error generating web package"
I received the following error when generating a package for https://helpzone.me

[2020-10-13 21:26] blipn opened #1155 "Error generating web package"
I received the following error when generating a package for https://tron-io-n8bnw.ondigitalocean.app/

[2020-10-13 22:28] JudahGabriel commented on #1120
This indeed looks like an issue with the existing Windows platform; I'm able to repro in the preview environment.

We are rolling out a new Windows platform that utilizes the new Chromium-based Edge. This should be available soon (this week or next, I anticipate). I've verified the new Windows platform successfully builds an app for your URL. I'll post here when a preview of the service is availab

[2020-10-13 23:06] JudahGabriel commented on #995
Code is at https://github.com/pwa-builder/pwabuilder-api-v2

As a fallback, we also use this code: https://github.com/pwa-builder/pwabuilder-manifest-finder/blob/master/ManifestService.cs

I'm not convinced that's the case. In our tooling, we're using standard TCP network stacks -- from both Node and .NET Core -- and both of them fail to fetch your web app. That suggests there's something not quit

[2020-10-14 00:31] GlenKPeterson commented on #995
Totally works when you use HTTP/2:

[code]

[2020-10-14 08:39] FluorescentHallucinogen commented on #1113
Is this released in the stable (not preview) version?

[2020-10-14 18:56] JudahGabriel commented on #699
Unfortunately, that code is owned by Samsung and not open source. We're working with Samsung to update their platform.

[2020-10-14 22:37] JudahGabriel commented on #1108
If we're not already, we should pass the existing manifest via PWABuilder.com to the MacOS platform. That's what we're doing for the Windows platform.

[2020-10-15 16:46] JudahGabriel commented on #1146
As described in the error, the issue is that your app image is missing. This image is returning a 404 error: https://www.dcart.tn/wp-content/uploads/2020/10/logo-ar.png

[2020-10-15 17:11] JudahGabriel commented on #1079
We're updating our Windows platform to the new Chromium-based Edge. I've verified your app works with the new platform.

We'll have an early preview of this new platform released most likely next week. I'll ping you then.

[2020-10-15 17:14] JudahGabriel commented on #1151
Got it. We can add this. Thanks for the suggestion.

[2020-10-15 17:38] JudahGabriel commented on #1126
@dejancencelj Bubblewrap just released v1.7.0, which contains the fix you mentioned. I'm updating Bubblewrap in PWABuilder to take advantage of that fix. The fix should be deployed to production early next week. I'll update here when it's released.

[2020-10-15 18:32] thenetcrafters opened #1157 "The URL bar is showing in my PWA"
**Question in detail**
I have uploaded my PWA application to the Google play store and was forced to opt in to their app signing. I have followed the steps and I am still  seeing the URL bar in the application.

I can access the assetlinks.json file from the internet but I the address bar is still showing.

APK so that you can install the application and see the issue.

The site is https://shopaho

[2020-10-15 22:52] lee-leonardo commented on #1155
@blipn your PWA isn't supported by our website, you are missing an icon, which is a requirement for our building features regardless of platform.

[2020-10-15 23:00] blipn commented on #1155
Thank you, maybe you should send an apropriate error message when object keys are missing in the uploaded manifest file 😉

[2020-10-15 23:51] JudahGabriel commented on #1155
We do, in fact:

![image](https://user-images.githubusercontent.com/312936/96197331-9a6d3200-0f06-11eb-8844-0221434ddebd.png)

However, we still let users generate an app even when missing some details. We'll be changing the UI for that in the future to require certain fields before generating an app.

[2020-10-15 23:51] #1155 closed

[2020-10-15 23:54] LaszloGombos commented on #699
For reference - we're planning to resolve this in our next release.

[2020-10-15 23:55] LaszloGombos commented on #1052
@rajandimri  - You can find more information on the submission process here: -  https://medium.com/samsung-internet-dev/introducing-progressive-web-apps-to-samsung-galaxy-store-47ecd317725b

To add your web app to the Samsung Galaxy Store send us the URL to pwasupport@samsung.com.

[2020-10-15 23:59] JudahGabriel commented on #1157
What happens when you run the [asset links tool](https://github.com/pwa-builder/CloudAPK/blob/master/Asset-links.md#validate-your-assetlinksjson-file) on your app - what does it show?

[2020-10-16 00:32] lee-leonardo commented on #1154
@msveshnikov
there's an issue with your manifest start_url. "." is not a valid value, but "/" is.

There's another issue with the manifest where images within the shortcuts section purpose is checked. We will still need to deploy a fix to address part of the issue with your manifest, which is at issue on our end.

[2020-10-16 01:06] JudahGabriel commented on #1151
I've implemented this feature. It should be included in next week's deploy.

To enable it, you just check a checkbox in the Android options dialog:
![image](https://user-images.githubusercontent.com/312936/96201334-284e1a80-0f11-11eb-9e68-00b75c51c1c1.png)

[2020-10-16 01:16] JudahGabriel commented on #1154
@lee-leonardo Web standards docs say "." is [acceptable URL](https://url.spec.whatwg.org/#concept-url). Likewise, this is valid:

[code]

[2020-10-16 01:30] JudahGabriel commented on #1125
I see there are [some answers on StackOverflow that may help you](https://stackoverflow.com/questions/14470402/query-the-google-play-store-for-the-version-of-an-app).

[2020-10-16 02:07] JudahGabriel commented on #995
Thanks. I had assumed the HttpClient would auto-upgrade to HTTP/2 when support was detected.

I've updated our manifest detection code to handle HTTP/2 responses. I've verified this fixes your issue in the [preview.pwabuilder.com](https://preview.pwabuilder.com/?url=test.memoryjoggerlibrary.com) site. This fix will be rolled out to production next week.

Thanks!

[2020-10-16 02:07] #995 closed

[2020-10-16 02:41] thenetcrafters commented on #1157
Good Day,

It took a few hours for the Google App to detect the file properly. I just tested again and the issue disappeared on its own.

Thank you for the support.

[2020-10-16 02:41] #1157 closed

[2020-10-16 03:20] JudahGabriel commented on #1113
Afraid not, we've had some holdups. We hope to release with this next week.

[2020-10-16 03:24] JudahGabriel commented on #759
ah, I don't think we should change it just for this url. It looks like buggy code, right?

[2020-10-16 03:42] JudahGabriel commented on #1104
Here's what you need:

1. Go to [PWABuilder.com/serviceworker](https://www.pwabuilder.com/serviceworker)
2. Choose a service worker (e.g. Offline Copy of Pages)
3. Copy the code in the top code box, and paste it into a new file in your site, pwabuilder-sw.js.
4. In your `<head>` section, add the following code:
[code]

[2020-10-16 05:12] stepanrumyantsev commented on #1151
Wow! Thank you very much!

[2020-10-16 07:31] rajandimri commented on #1052
Hi, I already tried to contact them on the given email but did not receive any reply. It has been already approx one month. I think this email is no more monitored by Samsung. You can check my last email![image](https://user-images.githubusercontent.com/15828863/96226043-a7922b80-0faf-11eb-9600-f17d005a8ba7.jpeg)

[2020-10-16 14:05] GlenKPeterson commented on #995
I was surprised too!

Fantastic!  Thank you for your great work and positive attitude!

[2020-10-16 16:30] FluorescentHallucinogen opened #1159 "[Improve UX] Hide some key fields, if "Use mine" option is selected for signing key"
It looks like some fields (like "Key organization", "Key organization unit", etc.) should not be displayed, if "Use mine" option is selected for signing key. Right?

![signing-key-fields](https://user-images.githubusercontent.com/7892779/96283637-29e91280-0fe5-11eb-8911-f60e2abc9d9b.png)

[2020-10-16 16:35] lee-leonardo commented on #759
Ok, https://github.com/pwa-builder/pwabuilder-api-v2/pull/29 kills execution early if there's been no serviceworker activity for 30 seconds after page load

[2020-10-16 16:36] #759 closed

[2020-10-16 16:38] lee-leonardo commented on #759
@Luisinho77 apologies for the delay on this resolution, essentially there's logic in your code that is preventing our system from using your service worker.

1. Your SW isn't being registered due to a code path that escapes early if their browser disables notifications.
2. Puppeteer by default ignores and disables notifications.

So we can't see your SW, because your not registering it.

[2020-10-16 16:40] lee-leonardo commented on #1154
Ok, I'll write a change to pass the site url down for downloading images.

[2020-10-16 16:50] FluorescentHallucinogen opened #1160 "[Improve UX] Password must be at least 6 characters"
Password must be at least 6 characters. Currently users can enter passwords that have lenght less that 6 characters. In this case, PWABuilder throws an error without any details what to fix. So front-end validation should be added to these fields.

Also, field placeholders are truncated. What about moving these texts from placeholders to popups on fileds help icon hover?

![signing-key-password](h

[2020-10-16 17:31] JudahGabriel commented on #1063
FYI, we've rolled out 2 more fixes for manifest detection yesterday:

1. Sites supporting HTTP/2 [were failing](https://github.com/pwa-builder/PWABuilder/issues/995#issuecomment-708082723​​​​​​​). I've updated the HTML parsing manifest detector to try using HTTP/2 if standard HTTP fails. This fixes the linked issue, and is now working in preview.pwabuilder.com
2. When a manifest is detected by one

[2020-10-16 17:35] FluorescentHallucinogen opened #1161 "[Improve docs] Building Android app update and signing key"
From https://github.com/pwa-builder/CloudAPK/blob/master/Next-steps.md#save-your-signing-key:

But for what? What next?

From what I saw, some users try to build a new app (with new signing key!) each time when they want to update their Android apps instead of using the existing signing key. As a result, they can't upload the update into Google Play.

Some other corner cases to document:

* App ve

[2020-10-16 17:37] JudahGabriel commented on #1159
You'll still need to supply key organization and other key fields when "use mine' is selected. These key details are included when you download your Android app from PWABuilder.

If you've lost these details, there's UI in the Google Play Store to recover them, IIRC.

[2020-10-16 17:45] JudahGabriel commented on #1161
Thanks for the feedback.

That paragraph tells you: <i>"You'll need them to deploy future versions of your app."</i>

This is good feedback, and others have [given the same feedback](https://github.com/pwa-builder/PWABuilder/issues/1125). We've since [updated our documentation](https://github.com/pwa-builder/CloudAPK/blob/dev/Next-steps.md), and we'll deploy that to production next week. The new d

[2020-10-16 17:48] JudahGabriel commented on #1160
Thanks. Prompt truncation has been fixed and will be deployed to production next week.

We'll fix the password length validation on the front-end. 👍

[2020-10-16 17:56] FluorescentHallucinogen commented on #1159
But why? Certificate and password(s) are enough to sign the APK. Right?

I can enter the different (wrong) values for key organization and other key fields while building the update. Right? And they will be included in the PWABuilder output *.zip file. So why I need to enter them at all?

Then why to include these details into PWABuilder output *.zip file while building the update (if they are not

[2020-10-16 18:23] JudahGabriel commented on #1159
I don't believe so, no. If you find otherwise, let us know.

Retrieving them from the Play store is a tedius process that requires human intervention, last I saw. (It involves contacting Google Play admins.) And, it doesn't work in all cases depending on whether you opted into Google Play signing and other factors. Bottom line: you should keep these values safe, hence we include them in the zip.

[2020-10-16 18:45] FluorescentHallucinogen commented on #1159
Things like Full name, Organization, Organization unit, etc. are used only for generating certificate and not used for signing with existing certificate (the certificate already contains these things inside).

@andreban Please confirm.

If we update the existing app -> we use existing certificate -> we don't generate new certificate -> we don't need enter full name, organization, etc.

As I said,

[2020-10-16 19:23] andreban commented on #1159
In order to use an existing certificate, we'd need:

- the key store file.
- the alias.
- the key store password.
- the alias password.

The other fields are only needed when generating a new key store.

[2020-10-16 22:18] JudahGabriel commented on #1159
Thanks for the heads up. We can update the UI to hide these fields when using an existing key.

[2020-10-17 17:25] ffezan opened #1163 "Error generating androidTWA package"
I received the following error when generating a package for https://tezgam.pk

I am getting error for url "https://tezgam.pk/assets/img/favicons/favicon-512x512.png" where it is accessible. Kindly fix the issue. Thanks.

[2020-10-18 08:31] ffezan opened #1164 "Error generating androidTWA package: Failed to download icon, responded with status 403 forbidden"
I received the following error when generating a package for https://tezgam.pk

[2020-10-18 08:31] ffezan commented on #1163
Still waiting....

[2020-10-18 09:39] FluorescentHallucinogen commented on #1159
@JudahGabriel Could you please reopen this issue until it fixed? ;)

[2020-10-19 06:05] Ajesh-k commented on #894
Issue verified and it is still repro on below Test Environment as:
OS: Version 2004 (OS Build20190.1000)
Browser: Version 86.0.608.2 (Official build) dev (64-bit). Hence reactivate this issue.
![894_repro](https://user-images.githubusercontent.com/66667672/96407506-27fa9b80-11ff-11eb-9a2d-4dd9786ed475.png)

[2020-10-19 06:14] Ajesh-k commented on #865
This issue is fixed. Verified on OS version: 20231.1005, Anaheim browser version: 87.0.664.8 (Official build) dev (64-bit). Hence, closing this issue.

[2020-10-19 06:15] #865 closed

[2020-10-19 06:27] Ajesh-k commented on #844
This issue is fixed. Verified on OS version: 20231.1005, Anaheim browser version: 87.0.664.8 (Official build) dev (64-bit). Hence, closing this issue.

[2020-10-19 06:27] #844 closed

[2020-10-19 06:28] Ajesh-k commented on #843
This issue is fixed. Verified on OS version: 20231.1005, Anaheim browser version: 87.0.664.8 (Official build) dev (64-bit). Hence, closing this issue.

[2020-10-19 06:28] #843 closed

[2020-10-19 06:31] Ajesh-k commented on #813
This issue is fixed. Verified on OS version: 20231.1005, Anaheim browser version: 87.0.664.8 (Official build) dev (64-bit). Hence, closing this issue.

[2020-10-19 06:31] #813 closed

[2020-10-19 13:36] IgorBraga21 opened #1165 "Error generating androidTWA package"
Error generating Android package.

Status code: 500

Error: Internal Server Error

Details: Error generating app package: Error: Failed to download icon

[2020-10-19 13:37] IgorBraga21 opened #1166 "Error generating androidTWA package"
I received the following error when generating a package for https://noodig.com.br

[2020-10-19 15:30] davrous commented on #1164
Hi! Thanks for the feedback, I'm indeed reproducing the error. We're going to investigate and will keep you posted.

[2020-10-19 15:32] davrous commented on #1163
This is a duplicate of https://github.com/pwa-builder/PWABuilder/issues/1164. Closing this one. Please be patient, you've opened an issue during the week-end! Please don't open several issues neither. Thanks.

[2020-10-19 15:32] #1163 closed

[2020-10-19 15:45] davrous commented on #1165
Duplicate of https://github.com/pwa-builder/PWABuilder/issues/1166. Please don't open multiple issues for the same problem.

[2020-10-19 15:45] #1165 closed

[2020-10-19 15:46] davrous commented on #1166
Thanks for the report. Looks like we have a bug on this as you're not the only have having opened an issue on a similar problem. We're going to investigate and come back to you!

[2020-10-19 17:28] pnkapadia64 commented on #1142
Hey @JudahGabriel! Any update or ETA on when the fix for this issue will be released?

[2020-10-19 18:05] davrous commented on #1142
@pnkapadia64, it should be published during this week.

[2020-10-19 20:09] jgw96 commented on #1143
I am also unable to repro this, I can also build the package no problem. Because of this and the fact that it has been over 11 days since this issue was opened I am going to close this issue for now. Thanks evereyone!

[2020-10-19 20:09] #1143 closed

[2020-10-19 20:10] #550 closed

[2020-10-19 20:23] JudahGabriel opened #2471 "[pwa-auth] Supporting Face ID and Touch ID via WebAuthn"
See the [WebKit FaceID and Touch ID announcement](https://webkit.org/blog/11312/meet-face-id-and-touch-id-for-the-web/) for details.

[2020-10-19 20:48] JudahGabriel commented on #1159
These are now implemented in preview.pwabuilder.com. They'll be deployed to production this week. 👍

[2020-10-19 22:50] JudahGabriel commented on #1166
I'm able to repro on the production service. However, running the service locally, it succeeds and I'm able to generate an Android package for noodig.com.br.

This suggests that your web server is blocking requests from our Android packaging service. Our Android packaging service is hosted at pwabuilder-cloudapk.azurewebsites.net, IP address 13.89.172.8. When the Android packaging service tries to

[2020-10-20 00:39] JudahGabriel commented on #1166
Example:

Go to this URL: https://pwabuilder-cloudapk-pre.azurewebsites.net/fetch?type=blob&url=https://noodig.com.br/assets/img/favicons/favicon-512x512.png

It [simply performs a fetch](https://github.com/pwa-builder/CloudAPK/blob/dev/routes/project.ts#L87) for your 512x512 icon. You'll notice that the fetch fails with the error,

Running that same code locally succeeds, which suggests your web

[2020-10-20 01:00] JudahGabriel commented on #1164
Looking into this, it appears your web server is blocking our Android packaging service.

Try this URL: https://pwabuilder-cloudapk-pre.azurewebsites.net/fetch?type=blob&url=https://tezgam.pk/assets/img/favicons/favicon-512x512.png

It simply fetches your icon via HTTP GET. You'll notice that the fetch fails with the error,

Running that same code locally succeeds, which suggests your web server i

[2020-10-20 03:06] IgorBraga21 commented on #1166
I checked and there is no block, because some days I generated my APK normally, I just need to generate for Windows 10, and this error is occurring to me, even changing the location of the images, the same error continues, and the strange thing that occurs with other users as well.

[2020-10-20 03:08] IgorBraga21 commented on #1166
I checked that a new update will come, I will wait for you.

[2020-10-20 06:50] eminpaiz opened #1171 "Error generating androidTWA package"
I received the following error when generating a package for https://chantillyhn.com/

Hi why im getting this error? I have already made the first .apk, I was trying to create a second version with a different android icon, so I change the icon in my server via FTP. I get a 100 score in pwabuilder but it gives this error, please help.... thank you

[2020-10-20 09:28] davrous commented on #1171
Hi! Thanks for opening an issue. We currently have some issues on our Android platform builder. @JudahGabriel is investigating. We'll come back to you soon. Thanks for your patience!

[2020-10-20 16:36] JudahGabriel commented on #1164
OK! It's working now - I believe the issue was due to an Azure problem with our Android packaging service. Please give it a try and see if it's working for you now.

[2020-10-20 16:38] JudahGabriel commented on #1166
I just checked, and its working now. The issue was a problem with Azure's web hosting. Please give it a shot and let us know if you see it working as well.

[2020-10-20 16:40] JudahGabriel commented on #1171
Hi, I just checked and this working now. The problem was due to Azure's web host. Please give it a try and let us know how it goes for you.

[2020-10-20 17:11] #1160 closed

[2020-10-20 17:56] #1171 closed

[2020-10-20 17:58] #1166 closed

[2020-10-20 17:59] #1164 closed

[2020-10-20 18:51] JudahGabriel commented on #1159
This has now been deployed to production.

[2020-10-20 18:51] #1159 closed

[2020-10-20 18:53] JudahGabriel commented on #1161
The updated docs have been moved to production. The only thing we don't have is the docs on difference between Google Play App signing and Google Play Internal App signing.

[2020-10-20 18:53] #1161 closed

[2020-10-20 18:54] JudahGabriel commented on #1145
We'll need your URL to repro the problem. Closing this for now, if you're still hitting the issue, please let us know your URL and we'll reopen it.

[2020-10-20 18:54] #1145 closed

[2020-10-20 19:06] JudahGabriel commented on #1131
I've just checked the [original poster's URL](https://parshurampatil.com/tools/fintrak/) with the new release this morning. It doesn't work: the HTML parse manifest detection works, however, the sync with Redis code fails; POSTing the manifest to the API fails.

@lee-leonardo Can you have a look?

[2020-10-20 19:13] JudahGabriel commented on #1131
@lee-leonardo Also, the [2nd poster's URL](https://hosting.systemlinkcloud.io/webapps/57932453-f5ae-4ff3-a8a9-6eb5238f441b/content/ni-paths-NISHAREDDIR64/Web%20Server/htdocs/WebApp/index.html) has a similar issue: manifest detection succeeds, then it tries to sync with Redis and it times out.

[2020-10-20 19:24] JudahGabriel commented on #787
I'm pleased to announce [we've released a preview of our new Chromium-based packaging](https://medium.com/pwabuilder/bringing-chromium-edge-pwas-progressive-web-apps-to-the-microsoft-store-c0bd07914ed9?source=friends_link&sk=04ca8b2ae2bd094b04ef6b53780b5698).

To access the preview, analyze your PWA through PWABuilder -> Build Package -> Windows. you'll now see some options to try the Chromium-bas

[2020-10-20 19:27] JudahGabriel commented on #1126
We've deployed Bubblewrap 1.7 to production. Closing this issue. @dejancencelj please let us know if you're still seeing a problem with your app shortcuts on Android.

[2020-10-20 19:27] #1126 closed

[2020-10-20 19:31] JudahGabriel commented on #1120
Hey @glalloue - we've deployed a preview of our new Windows platform for PWAs. This fixes your issue - can you give it a try?

In PWABuilder, analyze your PWA, then `Build Package` -> `Windows`:
![image](https://user-images.githubusercontent.com/312936/96634851-ed146880-12cf-11eb-82ab-bfd2847e3077.png)

Choose `Open Store Options` to fill in your details, then click `Download Test Package`.

I've

[2020-10-20 19:31] #1120 closed

[2020-10-20 19:32] JudahGabriel commented on #1113
This is now deployed to production. Give it a try!

[2020-10-20 19:32] #1113 closed

[2020-10-20 19:34] JudahGabriel commented on #1112
We've deployed this fix, and I've verified your URL works with MacOS packaging. Please give it a try!

[2020-10-20 19:34] #1112 closed

[2020-10-20 19:34] IgorBraga21 opened #1173 "We could not detect your service worker."
Hello,

I'm contacting you to inform you that a new bug is occurring, the manifest was not found, I tested it on 10 different sites including the same URL.

Print: http://prntscr.com/v3bgt2

[2020-10-20 19:37] IgorBraga21 opened #1174 "Can I download MacOS as if it were iOS?"
I'm about to launch my IOS application on Apple, I noticed that now you have an option when you send your application to Apple it automatically enters IOS and MacOS, can I download MacOS send as if it were IOS?

Was any test performed by any user who succeeded? and have any file differences?

[2020-10-20 19:38] JudahGabriel commented on #1108
I've verified this issue is fixed in production: I'm able to analyze https://connect.calcapp.net/?app=244wdi and then download the MacOS package. @davidpolberger please give it a try and let us know.

[2020-10-20 19:38] #1108 closed

[2020-10-20 19:39] JudahGabriel commented on #1104
@whiwo does this fix the issue for you?

[2020-10-20 19:43] peterpeterparker commented on #1113
Nice! Thx @JudahGabriel

[2020-10-20 19:53] lee-leonardo commented on #1174
https://github.com/pwa-builder/PWABuilder/issues/916

[2020-10-20 19:56] JudahGabriel commented on #1131
OK @ParshuramPatil your URL is now fixed: https://parshurampatil.com/tools/fintrak/ Please give it a try and let me know.

[2020-10-20 19:57] JudahGabriel commented on #1131
@rajsite I'm glad to report that [your URL](https://hosting.systemlinkcloud.io/webapps/57932453-f5ae-4ff3-a8a9-6eb5238f441b/content/ni-paths-NISHAREDDIR64/Web%20Server/htdocs/WebApp/index.html) works now in PWABuilder; your manifest is properly detected. Give it a try!

[2020-10-20 19:57] #1131 closed

[2020-10-20 20:01] JudahGabriel commented on #1174
I don't know. We don't currently support iOS, so while I suspect the answer is no, I can't say with any certainty.  Feel free to give it a try and let us know how it goes.

[2020-10-20 20:04] JudahGabriel commented on #1173
Thanks. I can reproduce the problem.

@jgw96 Looks like service worker detection is busted right now. Trying it on most any URL (including pwabuilder.com itself) fails to detect.

[2020-10-20 20:07] JudahGabriel commented on #1151
This has been deployed to production. 😎 Enjoy!

[2020-10-20 20:07] #1151 closed

[2020-10-20 20:09] davidpolberger commented on #1108
Hi @JudahGabriel,

Thanks, this indeed appears to work now. Thanks!

While PWA Builder does work with Calcapp now, we've realized that we need to do some work in order to make apps shine on Android. Specifically, Trusted Web Apps on Android are such that we would need to host an asset link file in order for the web browser user interface not to show in the generated apps. We should probably genera

[2020-10-20 20:10] JudahGabriel commented on #1147
@ndiing We've deployed updates to production today that fixes many of these issues. Closing this for now, please try again and if you're hitting issues, let us know your URL and we'll have a look.

[2020-10-20 20:10] #1147 closed

[2020-10-20 20:14] JudahGabriel commented on #1079
@IntegralSolutions-Asia we've released a preview of our new Windows platform. I've confirmed it works for your URL, https://studentuwas.zenitant.com.sg:448.

Go to PWABuilder and analyze your URL, then `Build Package` -> `Windows`. You'll see this:

![image](https://user-images.githubusercontent.com/312936/96639104-0e785300-12d6-11eb-88fc-2dba9440fc64.png)

Then click `Open Store Options`, then `D

[2020-10-20 20:14] #1079 closed

[2020-10-20 20:19] JudahGabriel commented on #1063
I've verified all 3 URLs mentioned in this thread are now successfully working in the new deployed PWABuilder:

- rada20.ir:
![image](https://user-images.githubusercontent.com/312936/96639368-7af35200-12d6-11eb-8cfb-54d85598cf55.png)
- simpelkoken.nl:
![image](https://user-images.githubusercontent.com/312936/96639476-9cecd480-12d6-11eb-8d92-651d581ed94a.png)
- play.esviji.com:
![image](https://use

[2020-10-20 20:19] #1063 closed

[2020-10-20 20:20] mtarantjr opened #1175 "Error generating web package"
I received the following error when generating a package for https://trocas.club

[2020-10-20 20:20] JudahGabriel commented on #1173
Working now, we had some Azure hiccups.

[2020-10-20 20:20] #1173 closed

[2020-10-20 20:22] JudahGabriel commented on #1175
I'm able to reproduce. @lee-leonardo can you have a look?

[2020-10-20 20:25] JudahGabriel commented on #991
Hi @tommcclean we've released a preview of our new Windows platform (Chromium-based), and I'm glad to report it fixes your issue.

To use the new platform, analyze your cmpct.io in PWABuilder, then `Build Package` -> `Windows`:

![image](https://user-images.githubusercontent.com/312936/96640218-b5112380-12d7-11eb-9c88-06951e5c5e30.png)

Choose `Open Store Options` to fill in your details, then `Do

[2020-10-20 20:25] #991 closed

[2020-10-20 20:28] JudahGabriel commented on #1154
@lee-leonardo with the new deploy, I'm now seeing `normalizedUrl is not defined`.

![image](https://user-images.githubusercontent.com/312936/96640469-0f11e900-12d8-11eb-8ef8-856d2b7be2be.png)

Seems to be the [same issue reported here](https://github.com/pwa-builder/PWABuilder/issues/1175). Can you have a look?

[2020-10-20 20:33] JudahGabriel commented on #1052
CC @LaszloGombos see above

[2020-10-20 20:35] lee-leonardo commented on #1175
https://github.com/pwa-builder/pwabuilder-api/pull/129

[2020-10-20 20:36] JudahGabriel commented on #1175
This has been fixed in preview. I'll add a comment here when it's deployed to production.

[2020-10-20 20:38] JudahGabriel commented on #1154
This has now been fixed. I'll comment here when it's deployed to production.

[2020-10-20 20:40] JudahGabriel commented on #951
I see this one is still broken with the new deploy. @jgw96 what's the status here, service worker ready never fires?

[2020-10-20 21:51] rajsite commented on #1131
@JudahGabriel it looks like pwabuilder can find the manifest files now! Thanks!

[2020-10-20 22:09] brunofrizzo opened #1177 "Error generating web package"
I received the following error when generating a package for https://verden.agr.br

[2020-10-20 22:27] lee-leonardo commented on #1177
was a typo. This fixes it in our preview env, push to prod should free up that user.
https://github.com/pwa-builder/pwabuilder-api/pull/129

[2020-10-20 22:30] lee-leonardo commented on #951
@JudahGabriel I'll take a look at the source code to determine if that is the issue here

[2020-10-20 23:03] lee-leonardo commented on #951
Confirmation it is registering properly and using the navigator api to register it, so it should fire the ready promise.
The page load is fairly quick locally, so timeouts are definitely not an issue. The azure function works locally without incident and checked if having multiple recipients to the promise (we and the app listens in on it) causes no issue.

But I think I know the issue, the app is

[2020-10-21 01:16] whiwo commented on #1104
Judah,I apologize. I've been swamped with work and other issues that took precedence. I haven't forgotten about your help and will try to implement it tomorrow then let you know.Sincerely,Keith Whitworth IOn Oct 20, 2020 3:40 PM, Judah Gabriel Himango <notifications@github.com> wrote:
@whiwo does this fix the issue for you?

—You are receiving this because you were mentioned.Reply to this email di

[2020-10-21 05:53] hemantbohra opened #1178 "Error generating androidTWA package"
I received the following error when generating a package for https://infomagine.com/dgcard/

[2020-10-21 06:31] stepanrumyantsev commented on #1151
Thank you!

[2020-10-21 06:35] marto55555 opened #1179 "Error generating samsung package"
I received the following error when generating a package for https://mconverter.eu/

[2020-10-21 07:55] leontham opened #1180 "Error generating web package"
I received the following error when generating a package for https://bazitimes.8b.io/

[2020-10-21 08:03] glalloue commented on #1120
the export works, I have my files !
I have some others problem to submit this package to windows store, but i'll create new issue
Thanks @JudahGabriel

[2020-10-21 08:19] glalloue opened #1181 "Error uploading windows10 new package to windows store"
**Describe the bug**
I tried to generate Windows 10 package with the preview of the New Edge platform
Everything worked fine during the generation and I downloaded my packages well !
But when i upload .appxbundle and .msixbundle files to the Microsoft Store, I receive these errors :

Geoffrey Lallou_.classic.appxbundle399.4 KB
Package acceptance validation warning : **The following restricted capa

[2020-10-21 11:13] davrous commented on #1181
Hello! Thanks for reporting the issue. Adding @JudahGabriel and @jgw96 for visibility.

I've just tested on production (www.pwabuilder.com) and I'm not reproducing the issue. Can you please have a look to my detailed tutorial video: https://www.youtube.com/watch?v=ig78lT6SlNI and check if you haven't missed something?

Can you please also unzip the .msixbundle and give us a screenshot of the file

[2020-10-21 12:47] pboschma commented on #1180
Well this happens with other packages as well. It also does never seem to find any serviceWorkers at all. It seems to be a bit broken at this moment.

[2020-10-21 12:47] pboschma commented on #1179
Same with Web and macOS. Seems to be something broken.

[2020-10-21 12:52] pboschma commented on #1178
Hey,

The whole builder is broken at this moment. Probably due to a recent update. I think you could try again after a new merge is finished.

[2020-10-21 13:10] glalloue commented on #1181
Hi  @davrous
I saw your video (great turorial ;) )
I don't think i forgot something compared to your video.

I tried again to fill form on PWABuilder making attention on it and i generated new package, but i received the same error.

Here is the information you asked me :

/AppxMetadata/AppxBundleManifest.xml :
![image](https://user-images.githubusercontent.com/10628710/96722858-215e5680-13ae-11eb

[2020-10-21 13:28] Ajesh-k commented on #894
Issue has been fixed on below test environment as:
OS: Version 2004(OS Build 20236.1005)
Hence closing the issue.

[2020-10-21 13:28] #894 closed

[2020-10-21 13:31] pboschma opened #1182 "Error generating any type of package"
I received the following error when generating a package for my PWA. It doesn't matter which domain or package type. It's just broken. I guess the last update was not tested completely.

[2020-10-21 13:35] Ajesh-k commented on #834
Issue has been fixed on below test environment as:
OS: Version 2004(OS Build 20236.1005)
Browser version: Version 88.0.673.0 (Official build) dev (64-bit)
Hence closing the issue.

[2020-10-21 13:35] #834 closed

[2020-10-21 13:44] Ajesh-k commented on #821
Issue has been fixed on below test environment as:
OS: Version 2004(OS Build 20236.1005)
Browser version: Version 88.0.673.0 (Official build) dev (64-bit)
Hence closing the issue.

[2020-10-21 13:44] #821 closed

[2020-10-21 13:44] davrous commented on #1181
Thanks, it's really strange, I'm going to do further testing. You've got a special French character in your name, maybe it generates a fail in our code (this would be a pity but you never know ;)).

[2020-10-21 13:49] davrous commented on #1181
Ok, I've reproduced the issue using your name "Geoffrey Lalloué" in the Publisher Display Name. I'm almost sure it's coming from the "é". Sorry for that.

@JudahGabriel: there's probably an exception because of this character which then rollback to the default value. We're probably not handling Unicode correctly somewhere. We may face the same issue without other languages.

[2020-10-21 13:52] Ajesh-k commented on #823
Hi @lee-leonardo Issue verified on below test environment
OS: Version 2004(OS Build 20236.1005)
Browser version: Version 88.0.673.0 (Official build) dev (64-bit)
URL: https://preview.pwabuilder.com/?url=https%3A%2F%2Fwww.msn.com%2Fen-in%2F
Main issue has been fixed but issue mention in note section is still not fixed screen reader is not announcing the descriptive name all 'VIEW FEATURE' links con

[2020-10-21 14:01] glalloue commented on #1181
What an idea to put accents everywhere in French names ! 🤪

I think I saw that you use external url to generate windows 10 package, so can you fix it or do i have to contact another team / someone to fix external windows 10 generation tool ?

[2020-10-21 14:10] davrous commented on #1181
We're working with the Edge team on the tooling. We'll first check if the issue doesn't come from our side before asking Edge to check their own code.

[2020-10-21 14:27] jgw96 commented on #1182
Hello all! This is now fixed. Indeed things were run through our normal tests, but when you are putting out software to hundreds of thousands of users there are always bound to be issues. Thanks for using PWABuilder!

[2020-10-21 14:27] #1182 closed

[2020-10-21 14:28] jgw96 commented on #1180
@leontham this issue has now been fixed, thank you! @pboschma Could you please refrain from posting content on issues that is not directly related to or providing more info the issue at hand? Thanks!

[2020-10-21 14:31] sensoryapphouse opened #1183 "Error generating windows10 package"
I received the following error when generating a package for https://www.sensoryapphouse.com/touchtargets-pwa/index.html

[2020-10-21 14:40] pboschma opened #1184 "macOS, Samsung, Legacy Edge package: cannot read property split of null."
Hey guys,

I received the following error when generating a package. This happened after the last issue which was similar was fixed today. This makes the builder still not useable for the project. I've tested it with multiple PWA's and it still happens. So I don't think it's the PWA itself.

Maybe the last fix for the previous issue invoked this one?

[2020-10-21 15:01] #1178 closed

[2020-10-21 15:01] #1179 closed

[2020-10-21 15:01] #1180 closed

[2020-10-21 15:03] jgw96 commented on #1183
Thank you! We are going to be tracking this issue in #1184 . Because of this I am going to close this issue as a duplicate. Thank you!

[2020-10-21 15:03] #1183 closed

[2020-10-21 15:32] davrous commented on #787
Thanks all for this great discussion and feedback!

@koenvd, we're not planning to use a WebView approach mechanism in the future. This doesn't mean you won't be able to build yourself an hybrid app using WebView2 inside a WinUI 3.0 app and manage the bridge between the webview and the native API. However, this is not our preferred choice today. We'd like to bet on standard API available with the

[2020-10-21 15:32] #787 closed

[2020-10-21 15:58] lee-leonardo commented on #1184
@pboschma could we have an example url for testing?

[2020-10-21 16:13] JudahGabriel commented on #1184
@lee-leonardo https://webboard.app will fail when generating the web/PWA platform or Spartan Edge platform.

[2020-10-21 16:32] pboschma commented on #1184
For example app.catchbee.io or products.german-gold.de

[2020-10-21 17:14] JudahGabriel commented on #1181
Hey @glalloue I'm checking with the Edge team to see if the bug is in their tooling. I'll get back to you shortly.

[2020-10-21 18:43] jgw96 commented on #1184
This has now been fixed and deployed. @pboschma thanks for the URLS for testing (:

[2020-10-21 18:43] #1184 closed

[2020-10-21 18:50] jgw96 commented on #1175
This has been deployed to production, thanks everyone!

[2020-10-21 18:50] #1175 closed

[2020-10-21 18:50] jgw96 commented on #1154
This has now been deployed to production, thanks everyone!

[2020-10-21 18:50] #1154 closed

[2020-10-21 18:50] jgw96 commented on #1177
This has now been deployed to prod, thanks everyone!

[2020-10-21 18:50] #1177 closed

[2020-10-21 19:59] #823 closed

[2020-10-21 21:02] JudahGabriel commented on #1181
Update: The Edge team found that the XML serialization library they were using didn't properly handle unicode characters. I'm glad to report they've issued a PR to fix this. This fix should be available in PWABuilder in the next day or two. I'll post here when it's available.

[2020-10-21 22:29] JudahGabriel commented on #1108
Yeah, for Android apps, you'd need digital asset links file per app on Calcapp, otherwise the browser address bar will show.

[2020-10-21 23:40] jgw96 commented on #1109
@David-My2eWay , unfortunately I also cannot reproduce this. Its possible and likely that its related to your Android version, If you running stock Android or an OEM customized version etc. Because we cannot reproduce this and it is now outside the scope of PWABuilder, I am going to close this issue for now. Thanks!

[2020-10-21 23:40] #1109 closed

[2020-10-21 23:49] jgw96 commented on #824
@Ajesh-k can this issue be closed?

[2020-10-22 00:35] lee-leonardo commented on #824
@jgw96 updated the pwa install component and added a forced focus on the parent element.

[2020-10-22 06:43] hz26262 opened #1186 "Error generating androidTWA package: request to URL failed, unable to verify the first certificate"
I received the following error when generating a package for https://rada20.ir/home-2

[2020-10-22 07:15] andreban opened #1187 "Enable ChromeOS-only when generating Android packages"
**Problem Statement**
Some developers already have existing applications for Android and would like to use their PWA list only on the Chrome OS Play Store.

**Describe the solution you'd like**
Add a "Chrome OS only" checkbox to the Options when downloading an Android package, which defaults to unchecked.

**Additional context**
Bubblewrap documentation for the `init`command. Using `--chromeosonly

[2020-10-22 10:01] loran750 opened #1188 "Cannot passt he security and service worker analysis steps"
**Describe the bug**
Although I pass the Manifest tests (40/40), I couldn't
- get the service workers identified
"We could not detect your service worker. If you are sure you have a Service Worker registered you may move forward, however be aware that your Service Worker may be caching more data than necessary."
- the SSL certificate identified :
"HTTPS not detected."

In my app dashboard, i have

[2020-10-22 11:32] IgorBraga21 opened #1189 "[Integrate in-app reviews]"
You are able to bring the evaluation feature in the application, where the user is redirected to evaluate the application and put his note.

But this evaluation could be after a certain time, example in the 2nd time that the user accesses or for hours navigated in the application, with all this it would greatly increase the engagement with our users.

https://developer.android.com/guide/playcore/i

[2020-10-22 11:49] whiwo commented on #1104
YES! This worked perfectly. Thank you so much for the help I really appreciate it.

Keith
partyfavorz.com<https://partyfavorz.com/>

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Judah Gabriel Himango<mailto:notifications@github.com>
Sent: Thursday, October 15, 2020 11:43 PM
To: pwa-builder/PWABuilder<mailto:PWABuilder@noreply.github.com>
Cc: whiwo<mailto:kei

[2020-10-22 11:57] davrous commented on #1188
Hello, sorry aware of the issue, I'm reproducing it too. Working on it today. Thanks!

[2020-10-22 12:28] davrous commented on #1189
Hi! Thanks for the feedback. This is something we're currently evaluating but would require a standard API. We can't call native Android or Windows API using our latest approaches: TWA (Trusted Web Activity) and the new Chromium-based Store PWA for the Microsoft Store. Both of them are running in the browser using standard web API available there. Being able to call API would require the use of a

[2020-10-22 13:51] DanJ210 opened #1190 "Blank White Page Following "Feature Store" Link"
**Describe the bug**
I don't believe this is supposed to work like this but when I click the link above for the "Feature Store" I get a blank white page with a little notification at the bottom right saying Offline Ready. I've tried this on multiple builds of the Edge browser and installed the PWA trying it that way as well.

**URL to app**
The URL to the app that we can use to reproduce this issu

[2020-10-22 14:45] davrous commented on #1188
Just checked your site: https://lebourgetdulac.demo.bougemaville.com/, you don't have a service worker registered on it according to F12 Devtools.

[2020-10-22 15:02] davrous commented on #1190
Hi! Do you mean this page: https://components.pwabuilder.com/ is blank on your machine? If so, can you please share the log of your F12 developer tools console? thanks!

[2020-10-22 16:22] lee-leonardo commented on #1188
@loran750 the error on the service worker seems pretty straightforward, the mime type of the file being served up is being rejected by chrome and edge. It's being listed at `text/html` as you probably know the mimetype you should send back is `text/javascript`.

This could probably be due to either encoding or your response content header returning the mime type incorrectly. I hope this helps!

[2020-10-22 16:28] lee-leonardo commented on #1188
I need to check on the security tests a bit more though, you requests seem fine in browser, might be a case of Azure.

[2020-10-22 16:42] DanJ210 commented on #1190
@davrous yes that's the page, here's a screenshot with what's in DevTools. Is there a better way to generate a log output of my console for you?

![Blank Page with DevTools](https://user-images.githubusercontent.com/16159685/96903578-03532d80-1464-11eb-9bc6-ac6fb024b244.png)

[2020-10-22 17:03] lee-leonardo commented on #824
@Ajesh-k the fix has been merged, should be deployed to the preview environment in a few hours

[2020-10-22 17:09] loran750 commented on #1188
Hi lee-leonado.

i'm checking on my side.
This is very strange because this site is a copied/pasted from another that was working well on pwabuilder (i've used pwabuilder in July). Probably the cache plugin may changed the mime type...

[2020-10-22 17:09] davrous commented on #1190
Looks like to be a bug in our service worker code / cache. @jgw96, any idea?

[2020-10-22 17:14] davrous commented on #1186
Thanks for the bug report. I'm reproducing it too. Our Android master @JudahGabriel will have a look soon.

[2020-10-22 17:55] ynonra opened #1191 "Error generating androidTWA package: keytool failed on unicode characters"
I received the following error when generating a package for https://www.tikunkorim.co.il/

[2020-10-22 18:01] JudahGabriel commented on #1187
We actually already have support for that in the CloudAPK service. It's just a matter of exposing that in the UI. Thanks!

[2020-10-22 18:04] JudahGabriel commented on #1188
Looks like your service worker is now successfully running in browser. We'll look into this.

[2020-10-22 18:09] JudahGabriel commented on #1191
Shalom @ynonra

I suspect the issue is that the Android SDK tool, keytool, is having trouble with Hebrew characters as your organization name. As a test, can you try generating your Android app using English letters for the organization name?

In the meanwhile, I'll report this bug to the Google team that owns this piece of the stack.

[2020-10-22 18:12] JudahGabriel commented on #1191
@andreban Bubblewrap fails for this guy, with the following error message. Possibly related to unicode support in either Bubblewrap or keytool?

[2020-10-22 19:13] jgw96 commented on #1190
@davrous looking into this now

[2020-10-22 19:29] ynonra commented on #1191
thanks a lot, i changed all the names to english and it works!

is there a way to edit the files manualy and return the original hebrew names?

[2020-10-22 19:42] jgw96 commented on #1190
@DanJ210 could you give this a try again? We had a bad build go out and it was still in the CDN, so had to purge the CDN cache. Its loading great now on my side, but wanted to ask you to confirm for me when you get a chance, thanks!

[2020-10-22 19:47] jgw96 commented on #1190
@DanJ210 just a heads up, because you were already in the broken state before, you may have to hit the reload button once to see the latest version. The service worker was actually making it hard for me to reproduce for a little while as I was being served a good version that was cached in my browser locally.

[2020-10-22 20:12] JudahGabriel commented on #1188
@loran750 yeah, like Leo mentioned, one issue is that your service worker is being served with the wrong content-type. Here is your service worker URL: https://lebourgetdulac.demo.bougemaville.com//daftplugInstantifyPwaServiceWorker

Bring up that URL in Edge or Chrome and hit F12 -> Network -> first request. You'll see the wrong content-type:

![image](https://user-images.githubusercontent.com/31

[2020-10-22 21:18] DanJ210 commented on #1190
@jgw96 thanks for the info. Yea it looks to be loading now so that must've been it. Thank you!

[2020-10-22 22:42] #1104 closed

[2020-10-22 22:48] JudahGabriel commented on #1191
Not that I'm aware of.

You might be glad to know the organization here is used for creating a signing key only. The key is used to sign your Android app package. I don't think the organization is displayed anywhere to end users.

[2020-10-22 23:00] JudahGabriel commented on #1186
I'm able to successfully download your app:

In PWABuilder, I analyze https://rada20.ir/home-2, after analysis completes, I click Build My Package, then Android. Downloading the package succeeds.

Can you try again?

[2020-10-22 23:07] JudahGabriel commented on #1186
@davrous FYI, this may have been related to a bad SSL certificate. I [mentioned previously that rada20.ir had a busted SSL cert](https://github.com/pwa-builder/PWABuilder/issues/1063#issuecomment-694421180). However, when I run that same SSL check, it says the cert is valid now.

Given that the cert is now valid, and given this bug can't be reproduced, I suspect the the SSL cert has been replaced

[2020-10-22 23:07] #1186 closed

[2020-10-22 23:12] JudahGabriel commented on #951
@smebberson can you disable redirects for your static resources? This may be causing the issue; going to [your service worker URL](https://next.beta.focusboosterapp.com/static/js/serviceWorker.js) results in a redirect.

[2020-10-22 23:34] smebberson commented on #951
@JudahGabriel, @lee-leonardo, my actual service worker location is https://next.beta.focusboosterapp.com/sw.js.

Where did you get those https://next.beta.focusboosterapp.com/static/js/* URLs from? Is there a way for this to support service workers in different locations?

[2020-10-22 23:40] smebberson commented on #951
To provide more comment on this. I've used what seems to be a fairly common pattern when a developer needs to customise the standard server worker when using create-react-app. You can see more about the problem and potential solution (I have implemented something similar here) https://medium.com/@chinmaya.cp/custom-service-worker-in-cra-create-react-app-3b401d24b875.

[2020-10-22 23:56] JudahGabriel commented on #951
OK, hold up, if I go to https://next.beta.focusboosterapp.com, hit F12, Application -> Manifest, I see the following:

![image](https://user-images.githubusercontent.com/312936/96941445-4bd01280-1487-11eb-9572-6aa5583535bf.png)

This looks like your service worker isn't getting served at all. (Maybe you're serving it only upon login?)

[2020-10-23 00:04] andreban commented on #1191
I can confirm those details are not shown to users anywhere.

Anyway, it turns out the problem is the comma in the `ou` field, as it signalises the end of the field. It's possible to escape that when running `keytool`, like the following, which works:

[code]

@JudahGabriel we can either escape this in @bubblewrap/core before running the command or escape it in PWA Builder and in @bubblewrap/cli.

[2020-10-23 00:05] lee-leonardo commented on #951
@smebberson ah I had a cached service worker from previous examination of the site. The url path to the service worker is now the same for me after unregistering and reloading the page.

[2020-10-23 00:10] smebberson commented on #951
@JudahGabriel, both the manifest.json and sw.js should be accessible regardless of the authentication state.
 I can't recreate what you're showing. Everything works fine for me when I follow the steps you've described. I did already have a logged-in state, however, so I went to Application > Clear storage, cleared everything and then visited the URL again. It all worked as it should, so I'm not su

[2020-10-23 00:17] JudahGabriel commented on #951
There is something super weird going on - I cleared cache, cleared storage, and I'm still not seeing the service worker.

If I open your site in Private / Incognito mode, I see the following:

![image](https://user-images.githubusercontent.com/312936/96942590-7079b980-148a-11eb-9fbb-8fde3680e137.png)

"a new version is available" posted over and over again, and the page keeps reloading.

What do y

[2020-10-23 00:24] lee-leonardo commented on #951
I've tested in the canary version of edge and it is also installing correctly, I'll try incognito as well.

As per your other question I am getting to https://next.beta.focusboosterapp.com/static/js/* is purely by looking at the source files provided upon page load. Your shipping map, I can't find a direct link to it, but I'm able to see formatted code.

From what I can tell it seems to me that yo

[2020-10-23 00:32] JudahGabriel commented on #1191
Ah, good catch.

So @ynonra just remove the comma, and you can still use the Hebrew name of your organization.

@andreban yeah, I think it's best to escape this at the lower Bubblewrap level.

[2020-10-23 00:32] #1191 closed

[2020-10-23 00:48] lee-leonardo commented on #951
Okay I didn't notice this line before, but I it looks like you're service worker is checking to see if the browser has notifications enabled before making the registration call. It's a little hard to read with the commonjs modules so forgive me if I'm reading this improperly.

Service worker registration happens in this file:
https://next.beta.focusboosterapp.com/static/node_modules/noty/lib/noty.

[2020-10-23 00:51] lee-leonardo commented on #951
confirmation in the source code of the imported module.

https://github.com/needim/noty/blob/ff83e598e93e4c45b734fae6c3ed238465726e12/src/push.js#L145
https://github.com/needim/noty/blob/ff83e598e93e4c45b734fae6c3ed238465726e12/src/push.js#L63

[2020-10-23 03:47] smebberson commented on #951
@JudahGabriel, I'm not sure why you're seeing those things... take a look at this...

![next-sw](https://user-images.githubusercontent.com/74628/96954152-57c8dc80-153a-11eb-9691-a8d4087834e5.gif)

[2020-10-23 03:57] IgorBraga21 opened #1193 "XCode configuration errors"
They could create a video or send documentation on how to upload MacOS, it's causing me errors in Xcode, I don't know how to configure it to upload it.

[2020-10-23 04:18] smebberson commented on #951
@lee-leonardo, @JudahGabriel, I've given you access to a private GitHub repository containing most of the client-side code for my app. Hopefully, this will help in your efforts to understand what is going on. Thanks.

[2020-10-23 08:23] ynonra commented on #1191
thanks guys!

[2020-10-23 10:04] PEConn commented on #1189
Hey (I work with @andreban),

While you're right that we don't want to allow any non-standard communication between the website running in a TWA and the TWA shell, a website can launch a native Android Activity with a link to some application specific scheme. So for example, we could add a ReviewActivity to the TWA shell, and set it up so that links to `my-android-app://trigger-review` will launch

[2020-10-23 10:10] PEConn commented on #1189
Actually, looking at the documentation [here](https://developer.chrome.com/multidevice/android/intents) it is possible to specify a fallback URL, so you can have behaviour like "launch the native Activity if it's available, go to this URL if not".

[2020-10-23 13:25] andreban commented on #1191
Filed https://github.com/GoogleChromeLabs/bubblewrap/issues/373 for Bubblewrap

[2020-10-23 13:25] GlenKPeterson commented on #995
Just wanted to confirm that this issue is fixed (for my site anyway) in production.  I'm scoring 100%.  Thanks!

[2020-10-23 14:02] GlenKPeterson opened #1194 "Generate AppX fails with "Package building error.""
**Describe the bug**
Error in console:
`POST https://pwabuilder-api-prod.azurewebsites.net/manifests/457c6ae1/appx 500 (Internal Server Error)`
On:
`https://www.pwabuilder.com/_nuxt/vendor.bab351e4efc3611d2870.js` line 2.

**Note:** I may be the first person with an HTTP/2-only (and HTTPS-only) site to get to this point since issue #995 prevented me from getting this far and it was just fixed (tha

[2020-10-23 15:54] jgw96 commented on #1190
No problem at all, thank you!

[2020-10-23 15:54] #1190 closed

[2020-10-23 16:03] koenvd commented on #787
Thanks @davrous for giving extra context.

Indeed from our end we will consider both tracks (browser based or winui hybrid) to move away from the EdgeHTML based host app.

Also congrats to @JudahGabriel and the whole team for reaching this milestone!!

Would love to share our findings as well somewhere later after we started on this.

[2020-10-23 18:00] lee-leonardo commented on #1193
Hey @IgorBraga21
What exact issue are you seeing? I'm not able to understand the exact scenario you are dealing with.
The scenario that best matches your description is the lack of a signing key. You'll need to create a Apple Developer account and create the key chain entries on the developer portal.

https://developer.apple.com/videos/play/wwdc2017/403/

[2020-10-23 18:30] lee-leonardo commented on #1130
@chsasank Closing this out as this has been idle for more than a week without a reply.

[2020-10-23 18:30] #1130 closed

[2020-10-23 21:30] JudahGabriel commented on #1194
We're investigating this now.

[2020-10-23 22:36] JudahGabriel commented on #951
@smebberson to repro, in F12 tools -> Application -> Service Workers, check the box "update on reload". Then you'll see what I'm seeing.

[2020-10-23 23:00] lee-leonardo commented on #951
Hey @smebberson

Just to keep you in the loop:
https://github.com/idearium/focusbooster-next-sw/blob/3f335abddd6a5ef208ef771ebe564d697920bb2f/src/App.js#L69

The line reloads the page on the triggering of a service worker change:
https://github.com/idearium/focusbooster-next-sw/blob/3f335abddd6a5ef208ef771ebe564d697920bb2f/src/App.js#L104

This behavior would break our test as we actually listen o

[2020-10-24 01:24] githubaccount256 opened #1197 "[Question] I followed PWABuilder's instructions exactly, and now Google is telling me "To upload an Android App Bundle you must be enrolled in App Signing by Google Play.""
I navigated to pwabuilder.com, entered my website's URL, got a score of 100/100, and then downloaded the zip file to be uploaded to the Google Play store.

I then made an account on Google Play, paid the $25, and then completed all the 7 prerequisites required before I could upload my app's `.aab` file.

I then selected "Opt out" as this instruction here recommends: https://raw.githubusercontent.c

[2020-10-24 08:23] hz26262 commented on #1186
Hi.
Thanks for your reply

On Fri, Oct 23, 2020 at 2:37 AM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-10-24 11:07] fachrizalrifahdi opened #1198 "Error generating androidTWA package"
I received the following error when generating a package for https://simaspro.id

[2020-10-24 11:20] fachrizalrifahdi opened #1199 "Error generating web package"
I received the following error when generating a package for https://simaspro.id

[2020-10-24 14:46] ParshuramPatil commented on #1131
Works now, Thanks!

[2020-10-24 16:48] Hiteash opened #1200 "Not able to solve url on pwa play store app."
I follow all steps . I am able to see assetlinks.json in url, i have added two sha key . Uninstalled install app again but see saame issue.

attached file of link
[za.pdf](https://github.com/pwa-builder/PWABuilder/files/5433310/za.pdf)

[2020-10-25 13:51] fachrizalrifahdi commented on #1199
still waiting

[2020-10-25 13:51] fachrizalrifahdi commented on #1198
still waiting

[2020-10-25 16:20] Ben-BF opened #1201 "Package building error when trying to generate a PWA package for Windows"
**Describe the bug**
When trying to generate a PWA package for Windows, a 'Package building error' message is shown and the package is not generated.

**URL to app**
The PWA used to generate the package is https://base.finance

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Build My PWA
2. Click on Window
3. Click on Generate
4. Fill the form with the appropriate data from the Micro

[2020-10-26 05:47] eminpaiz opened #1202 "Question about android background icon, once is installed in the phone."
Hi I have a question, I really don't know how to do this, someone help me, I have created some .apk with pwabuilder.com and upload them to playstore, but once I install the apk on any android or some android devices(smartphones) the Icon it doesn't have a [background](url
![ch2](https://user-images.githubusercontent.com/49599969/97137847-6a027080-171c-11eb-8fc9-d03117af6c1e.jpg)
) is just the logo

[2020-10-26 09:09] sebastian-raubach opened #1203 "PWA start URL not respecting sub-path"
**Describe the bug**
I have a working PWA running at https://ics.hutton.ac.uk/gridscore/
When I try and generate an Android APK, I first have to go through the PWA steps where it confirms that everything is correctly set up. I then download the PWA configuration just to double check and it seems to be setting the `start_url` to `https://ics.hutton.ac.uk` rather than `https://ics.hutton.ac.uk/grids

[2020-10-26 14:54] bil-ash opened #2479 "Xbox support"
The docs mention that new EDGE will come to Xbox in 2021. Please close this issue when PWAs running on the new EDGE browser is supported on Xbox(currently PWAs run on old EDGE runtime). Till then let it remain open.

[2020-10-26 15:49] #1200 closed

[2020-10-26 15:49] Hiteash commented on #1200
it was cloudflaare issue. i solved automatically

[2020-10-26 17:15] jgw96 commented on #1202
Hello, thanks for opening a question with us. This article https://web.dev/maskable-icon/ has all the info you need to make sure your icon looks correct.

[2020-10-26 17:15] #1202 closed

[2020-10-26 17:19] jgw96 commented on #1198
@fachrizalrifahdi hello! The reason you are getting this error is because of some issues in your web manifest. If you open your PWA in Edge, open devtools and then go to the Application tab, you will see the errors / warnings.
![image](https://user-images.githubusercontent.com/8823093/97205279-7a463a00-1774-11eb-894c-08cd0980762d.png)

 The specific one that is causing this issue is that one of yo

[2020-10-26 17:19] #1198 closed

[2020-10-26 17:20] jgw96 commented on #1199
Closing this one as a duplicate of #1198 https://github.com/pwa-builder/PWABuilder/issues/1198#issuecomment-716700597

[2020-10-26 17:20] #1199 closed

[2020-10-26 17:24] jgw96 commented on #1203
Hello @sebastian-raubach , thanks for opening an issue with us. Looks like the relative path is tripping up our backend service for Android, this is something we will investigate. However, I also want to add that it would be ideal if you could use an absolute URL. I have seen relative URLs cause issues with many tools; especially tools like ours that do lots of logic and validation around paths.

[2020-10-26 17:28] jgw96 commented on #1201
Hello, thanks for opening an issue with us! This may be related to #1194 .

[2020-10-26 18:36] sebastian-raubach commented on #1203
Hi @jgw96, thanks for your response!
I appreciate that relative paths can be a pain and I wish I could simply specify the absolute path.
Since this tool I'm working on gets bundled in a Docker eventually, it could be deployed anywhere, hence the relative path.
I'm not saying it's not possible to get around this at my end. I could bind in a file that has the absolute path and overrides the existing

[2020-10-26 20:56] jgw96 commented on #1203
Thank you! Yep we should be able to fix this and will keep you updated 😊

[2020-10-26 23:49] lee-leonardo commented on #1203
@jgw96 I can take a look. Been working relatively recently on relative paths.

[2020-10-27 09:37] ffezan commented on #1164
Thank you for your respond and apology for not replying, i was stuck in other things.

I will try and update you guys today . Thanks.

[2020-10-27 13:00] IgorBraga21 commented on #1189
I could see the possibility of adding this direct redirect to Google Play, this evaluation would be interesting, it does not necessarily have to be directly in the application, but in order to be redirected to google play the user needs to have a defined team of use of the application so that it is shown to the user.

[2020-10-27 13:05] IgorBraga21 commented on #1197
https://stackoverflow.com/questions/44103024/how-to-enable-google-play-app-signing

[2020-10-27 13:07] IgorBraga21 commented on #1174
I was unable to reproduce IOS using MacOS, and a series of internal modifications was required.

[2020-10-27 16:22] lee-leonardo commented on #1174
closing the issue as the poster was able solve this on his own

[2020-10-27 16:22] #1174 closed

[2020-10-27 16:22] lee-leonardo commented on #1193
inferring from another post by the poster that the issue has been resolved

[2020-10-27 16:22] #1193 closed

[2020-10-27 16:49] ffezan commented on #1164
Issue resolved. Thanks alot.

[2020-10-27 18:03] lee-leonardo commented on #951
Update for clarity so that we can pick this up again at a later point, we've exhausted the candidates on our end that would be causing this issue. Tested against react based applications for sanity without issue as well.

Explored avenues:

1. Page bundling related issues, this proved to be false as the service worker is generated separately and is accessible outside of the bundle.
2. noty, althou

[2020-10-27 21:48] smebberson commented on #951
@lee-leonardo, for my own clarify, the situation is that you can't repro in your test cases and therefore have no way to move forward?

Is there a way I can tell my code is running in your puppeteer environment? If so, I can avoid issuing a reload?

[2020-10-28 13:00] whiwo opened #1204 "Offline copy of pages runs up CPU usage"
**Describe the bug**
Two issues: First, the "offline page" option does not work. It's not clear in the instructions about the "offline.html" file that is supposed to be included.

Second, the "offline copy of pages" service worker does work but runs up CPU usage rendering the admin unusable with penalties from shared hosting provider.

**URL to app**
https://partyfavorz.com/

**Expected behavior**

[2020-10-28 16:41] JudahGabriel commented on #1201
Thanks for the bug report. I'm working on a fix for this today.

[2020-10-28 16:41] JudahGabriel commented on #1194
I'm working on a fix for this today, should have an update for your shortly.

[2020-10-28 17:03] JudahGabriel commented on #1204
Thanks for the feedback about "offline page" - we'll clarify that you need to supply a "You're offline" HTML page.

I think you're mistaken. What this service worker does is, when the user visits a page, it's stored in the browser's offline cache. Then, if the user is offline (e.g. on an airplane), they can still navigate to your page; it'll use the page stored in the cache. *No extra work is done

[2020-10-28 17:07] jgw96 opened #1205 "Clearer instructions for our Service Workers."
We should provide clearer instructions to the developer on how to use our service workers. This is probably a good thing to tackle in our next UI update.

[2020-10-28 17:08] jgw96 commented on #1204
Hello all! As it was a bit hard to find the actual update we needed to make here, I opened a separate issue (that links to this one) that is more specific https://github.com/pwa-builder/PWABuilder/issues/1205 .  Because of that, I am going to close this issue for now. Thanks @whiwo !

[2020-10-28 17:08] #1204 closed

[2020-10-28 17:12] whiwo commented on #1205
What jgw96 said. That and Offline Page doesn't work or the instructions for "offline.html" file are not clear.

[2020-10-28 18:22] JudahGabriel commented on #1202
@eminpaiz Your icon is pulled from your web manifest. Your web manifest has icons with transparent background: https://chantillyhn.com/images/icons/android-icon-512x512.png

If you want your PWA to use an icon with a background color, you'll need to upload an icon with background color and add it to your web manifest.

[2020-10-28 18:30] jgw96 commented on #1202
Sorry about missing this info ^ @eminpaiz , totally my bad on that.

[2020-10-29 22:18] whiwo commented on #1204
Okay thanks and you're right. It appears the issue of usage wasn't standing out even after multiple bouts of troubleshooting. Today, it presented itself with an update for the PowerPress plugin and I was able to finally confirm that that's where the problem was coming from. I reported the problem and their turnaround was quick. It's now fixed.

I saw what you did and fixed it. It's now working. Mu

[2020-10-30 19:08] GlenKPeterson commented on #1194
Awesome - thank you!

I can do that.

**SOAPBOX**
I know you're the wrong person to say this to, but maybe you know the right person and can pass it along or direct me to them:

I wish the spec would allow [SVG](https://en.wikipedia.org/wiki/Scalable_Vector_Graphics) as an alternative to PNG because it is Scalable without aliasing or other artifacts.  [Our SVG](https://memoryjoggerlibrary.com/stat

[2020-10-30 19:09] sensoryapphouse opened #1208 "Using New Edge PWABuilder for Windows packages"
I have been successfully using the New Edge preview to generate MSIXBundles for our windows apps. Have uploaded into our app store and the updates are coming through, they look great in new Edge.

I have noticed that after the updated app is run, then a second launch icon appears on the Windows Start Menu, a duplicate of the original app icon. Both icons launch the app. I was wondering if after ru

[2020-10-30 19:54] JudahGabriel commented on #1194
Thanks. Also, I've just updated the code in preview to prefer PNG, even if it's smaller than SVG.

Agreed, this would be nice. Unfortunately, this is the requirement of the Windows app platform today. I'd be glad to pass your feedback on where I can.

I disagree. An icon at 32x32 *shouldn't be the same content* as an icon at 512x512. I [touched on this here](https://github.com/pwa-builder/pwabuild

[2020-10-30 19:59] JudahGabriel commented on #1208
This is a known issue that will be fixed in November.

The actual issue is that Edge itself is installing a second item into your start menu. Edge team is aware of this and has fixed the issue in Edge 87, due out for release in November.

What you're seeing here doesn't affect all PWAs -- it seems to affect PWAs that you previously installed through Edge more often -- but we decided to release the

[2020-10-30 20:04] JudahGabriel commented on #1181
Hey @glalloue I'm glad to report the Edge team has fixed this. I tested the fix and it seems to work great for your app. Go ahead and give it a try and let us know how it goes.

[2020-10-30 20:11] JudahGabriel commented on #951
@smebberson I'd recommend removing those page reload lines:

- https://github.com/idearium/focusbooster-next-sw/blob/3f335abddd6a5ef208ef771ebe564d697920bb2f/src/App.js#L69
- https://github.com/idearium/focusbooster-next-sw/blob/3f335abddd6a5ef208ef771ebe564d697920bb2f/src/App.js#L104

That may not be a good user experience anyways - try removing them and see if the service worker is detected.

Ke

[2020-10-30 20:28] sensoryapphouse commented on #1208
Thanks! fabulous update. Also good detail, because indeed I have every original build in my library still, and on the machine (although had uninstalled some i recall). But anyway, all in hand. This is really good news (the Preview), timing is great before we do a customer release for all the new apps! Thanks

[2020-10-30 20:57] GlenKPeterson commented on #1194
Interesting.  I guess I skipped over that section.  I really like the large-size with what looks like a leaf relief on the left, like the cover of a really nice book.  Is this now the norm for all Windows desktop applications?   I haven't used Windows much in the past 12 years.

I guess I would feel better saying, "An icon at 32x32 shouldn't _**have to**_ be the same content as an icon at 512x512.

[2020-10-30 23:20] JudahGabriel commented on #1194
Agreed. 👍

[2020-10-30 23:34] JudahGabriel commented on #1194
p.s. I deployed the change to prioritize PNG in preview environment...only to find another bug on our side.

Your manifest contains a shorthand hex color code (#fff) - and when we tried to build your package with that color as the background, the Windows SDK package tooling barfed on it.

So, I fixed that bug too, and it's now deployed to [preview.pwabuilder.com](https://preview.pwabuilder.com). 👍

[2020-10-30 23:46] JudahGabriel commented on #1208
Closing this issue as fixed, pending release. When Edge 87 is released, we'll verify this bug is fixed.

[2020-10-30 23:46] #1208 closed

[2020-10-30 23:54] JudahGabriel commented on #1197
Ah, the app bundle support was recently added to the Android platform.

@andreban if a user opts into `App Signing By Google Play` when uploading their app to the Store, will it invalidate the digital asset links? (Will they need additional asset links thumbprint?)

[2020-10-31 00:04] GlenKPeterson commented on #1194
Awesome!

Sweet!

Super sweet!

I will seriously consider that.  Thank you for the recommendation.

It still seems backward to resize a PNG (a resize-unfriendly format) instead of a SVG (which is made for resizing).  I just tried to say as much here: https://lists.w3.org/Archives/Public/public-webapps/

[2020-10-31 10:16] Ben-BF commented on #1201
Hello,

Unfortunately, I was not able to make it work.
First, the "Generate" button has been replaced by an "Options" button, but
I guess this is just a change of functionality you are currently
implementing.
Second, ehen I click on "Download", I get an "Invalid Windows options. No
options specified" message (see screenshot below).
Third, when I click on "Options", nothing happens. In the console

[2020-10-31 10:18] Ben-BF commented on #1201
With the screenshot:

![pwab](https://user-images.githubusercontent.com/73436208/97776714-cf19f400-1b6a-11eb-80db-c349d9676c9e.png)

[2020-10-31 19:17] GlenKPeterson commented on #1194
Thank you - this issue seems to be fixed on the preview site!  I built a file and uploaded it to the Microsoft store.  With fuzzy icons, but I'm going to have to release again soon for other reasons and I'll learn from this.

I just released a new version to our production site with a 512x512 PNG and the following webmanifest:
[code]

The idea is to encourage resizing the SVG (for both smaller and

[2020-10-31 19:18] #1194 closed

[2020-10-31 19:26] GlenKPeterson commented on #1194
Never mind about the security test.  I deleted all site data in my browser and tried again and it completed.  Maybe you guys were cycling a server somewhere because it's the weekend.

[2020-11-01 17:17] #1189 closed

[2020-11-01 17:22] IgorBraga21 opened #1210 "[service-worker.js]"
Hello guys, I have a PWA application, when I update my cache version it just clears the user's page, but the application's cached data still remains, how can I adapt my work service to work this synchronization?

as it needs to clear the js, cache, etc. of the user's application.

**Below is my service-worker.js
Website: https://noodig.com.br/**

[code]

[2020-11-02 13:52] davrous commented on #1188
Hi @loran750, closing this issue as I think we provided the solution around the MIME type problem you have. Feel free to re-open if you still have issues after fixing your MIME type for your service worker. Thanks!

[2020-11-02 13:52] #1188 closed

[2020-11-02 16:47] jgw96 opened #1211 "Bug: Icon path is not correct when going to package"
**Describe the bug**
A clear and concise description of what the bug is.

When we use a certain URL (will send in teams), the icon is not able to be found, which then throws an error when trying to generate the Chromium package or Android package with this error:

[code]

**URL to app**
Will send the URL in teams, it's a partners URL so not sure if they would want us making it public.

**To Reprod

[2020-11-02 18:00] JudahGabriel commented on #1201
That's also been fixed, but hasn't been deployed yet. It'll be deployed to preview today, I'll update here when it's ready.

[2020-11-02 19:12] Ben-BF commented on #1201
It looks like it's working. Thanks a lot!

[2020-11-02 19:13] JudahGabriel commented on #1211
Looking into this, the issue is PWABuilder itself is figuring the wrong URL for the image. This likely means the bug is in our code, not in Bubblewrap.

[2020-11-02 19:27] JudahGabriel commented on #1201
Great! We'll release this to production this week.

[2020-11-02 19:35] JudahGabriel commented on #1201
FYI @Ben-BF the reason you were hitting an issue 2 days ago is because your web manifest icons don't have a [type](https://w3c.github.io/manifest/#icons-member):

[code]

We recommend you add image types to your manifest, as it helps tooling like PWABuilder:

[code]

To fix your issue in PWABuilder, we assume icons that end in `.png` are "image/png". Even so, we recommend you update your manifest

[2020-11-02 19:38] Ben-BF commented on #1201
Ok, thanks for the feedback. Great tool!

[2020-11-02 19:40] Ben-BF commented on #1201
By the way, the manifest for the images was generated with https://www.pwabuilder.com/imageGenerator.

[2020-11-02 19:52] #1201 closed

[2020-11-02 20:57] JudahGabriel commented on #1203
I've found the issue and am working on a fix. Should have the fix available today.

[2020-11-02 21:25] JudahGabriel commented on #1203
I've [pushed a fix for this issue](https://github.com/pwa-builder/CloudAPK/pull/47/commits/ba13ad3f28725b701b6d2845d399036d1d7b80b1). It's now in PR and should be deployed later today.

[2020-11-02 21:41] #1203 closed

[2020-11-03 00:14] JudahGabriel commented on #1203
@sebastian-raubach the fix is now available in our preview environment: https://preview.pwabuilder.com. Feel free to give it a spin there - it should work just fine.

The fix will be deployed to production this week. 👍

[2020-11-03 10:39] sebastian-raubach commented on #1203
As far as I can tell, this is now working fine. Good job!
I can run the .apk file on an Android device and it opens the correct page.

[2020-11-03 16:12] glalloue commented on #1181
Everything went well, from package generation to the upload.
No errors on Microsoft Partner Center, only classical warnings
![image](https://user-images.githubusercontent.com/10628710/98010861-81fe8200-1df7-11eb-8555-6148ff3052e3.png)

thank you so much.
You can close this ticket

[2020-11-03 16:12] #1181 closed

[2020-11-03 19:04] lee-leonardo commented on #1210
@IgorBraga21 this looks like a question for WorkBox. It's clear your precache route and caching heavily implements features from it. There might be something within the minified code we can't read, but it's hard to say as it's not human readable.

https://developers.google.com/web/tools/workbox/reference-docs/latest
https://github.com/GoogleChrome/workbox

[2020-11-03 20:44] zheltkevich opened #1214 "Error generating macos package"
I received the following error when generating a package for https://zheltkevich.github.io/MyFolio/

[2020-11-03 23:13] lee-leonardo commented on #1214
A side note, doesn't effect the issue in question, is that the lang attribute of your manifest should be the language code.
For Russian that would be: `ru`

[2020-11-04 15:00] keved93 opened #1215 "Web share target support"
cant use web share target on my twa

https://github.com/GoogleChromeLabs/bubblewrap/pull/382

[2020-11-04 16:37] IgorBraga21 opened #1216 "Bug - We could not detect your service worker"
We could not detect your service worker. If you are sure you have a Service Worker registered you may move forward, however be aware that your Service Worker may be caching more data than necessary.

http://prntscr.com/vdfmsj
http://prntscr.com/vdfn7w

I ran the test on 4 different sites, they all gave the same problem
I also verified that the app the offline notifications are not working, the use

[2020-11-04 18:24] #1211 closed

[2020-11-04 18:34] JudahGabriel commented on #1197
@githubaccount256 I've [relayed your question to the Google Bubblewrap team](https://github.com/GoogleChromeLabs/bubblewrap/issues/389), which PWABuilder uses for Android app generation.

[2020-11-04 18:36] JudahGabriel commented on #1216
I just tested a PWA URL and service worker detection worked fine. **What URLs failed for you?**

[2020-11-04 18:40] JudahGabriel commented on #1215
Looks like this is an issue in Bubblerwrap, and is now fixed in PR. Once that fix is in a stable version of Bubblewrap, we'll update PWABuilder to use it. 👍

[2020-11-04 18:42] JudahGabriel commented on #1214
@zheltkevich I believe this has been fixed in our preview environment; it was related to PWAs with subpath URLs.

Try your URL in our preview environment, https://preview.pwabuilder.com. I just tested it and it worked fine. CC @lee-leonardo

[2020-11-04 18:45] JudahGabriel commented on #1210
Hey @IgorBraga21, as Leo mentioned above, this is a question for Google Workbox, and isn't related to PWABuilder. Closing this.

[2020-11-04 18:45] #1210 closed

[2020-11-04 19:01] JudahGabriel commented on #1009
Follow-up on this, the Bubblewrap team has implemented a fix for this: https://github.com/GoogleChromeLabs/bubblewrap/pull/341

Checking when that fix was/will be deployed.

[2020-11-04 19:04] JudahGabriel commented on #1203
Great! And I'm glad to report this has been deployed to production as of this morning.

[2020-11-04 19:08] JudahGabriel commented on #1214
This fix has now been deployed to production. I just tested your URL with the MacOS platform on PWABuilder.com, and it succeeded. I'm closing this issue. Feel free to reopen it if you're still hitting a problem.

[2020-11-04 19:08] #1214 closed

[2020-11-04 19:47] andreban commented on #1197
Sorry, I missed answering this, earlier. Adding the response here too:

Yes, the `assetlinks.json` generated by Bubblewrap becomes invalid. This is documented [here](https://developers.google.com/web/android/trusted-web-activity/quick-start#play-store-signing). I'd recommend to opt-in into Play Signing.

[2020-11-04 19:50] IgorBraga21 commented on #1216
https://noodig.com.br

[2020-11-04 20:48] JudahGabriel commented on #1216
For your service worker, it's working here:

![image](https://user-images.githubusercontent.com/312936/98166212-eecb5800-1e9b-11eb-8d85-e21d1dbe3274.png)

Can you try again?

However, for your manifest detection, Noodig has a bad redirect when fetching the manifest.

If I issue an HTTP GET to https://noodig.com.br/manifest.json (or just view this in the browser), it results in a 200 response...tha

[2020-11-04 22:57] lborgman commented on #1216
I got the same problem right now when testing from my mobile (service worker not found). (Android 10.)

When testing again from my laptop (Windows 10) PWAbuilder has some internal problem and does not work at all:

app.3a08e5a5f8a769eb384b.js:1 [nuxt] Error while initializing app DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.

[2020-11-05 01:04] JudahGabriel commented on #1187
This is implemented and deployed to production.

[2020-11-05 01:04] #1187 closed

[2020-11-05 04:44] JamesRao98 opened #1219 "Error generating macos package"
I received the following error when generating a package for https://plantingbuddy.com/

[2020-11-05 08:19] sebastian-raubach commented on #1203
Great job, thanks again!

[2020-11-05 18:23] JudahGabriel commented on #1216
Looks like the service worker detector is occasionally failing. We're investigating.

[2020-11-05 20:40] JudahGabriel commented on #1208
@sensoryapphouse just an update on this, the Edge team provided us a way to prevent the double install. This fix has been deployed to production, meaning any new Windows apps you generate via pwabuilder.com will no longer have the duplicated launch icon issue you described. 😎

[2020-11-05 21:54] sensoryapphouse commented on #1208
Excellent news! Will get onto some rebuilds , thanks

From Dave Stevens

On 5 Nov 2020, at 20:40, Judah Gabriel Himango <notifications@github.com> wrote:

﻿
@sensoryapphouse just an update on this, the Edge team provided us a way to prevent the double install. This fix has been deployed to production, meaning any new Windows apps you generate via pwabuilder.com will no longer have the duplicated l

[2020-11-06 00:01] JudahGabriel commented on #1197
@githubaccount256 The docs have been updated in dev (will merge to production soon) to account for Google Play re-signing your app.

Thanks.

[2020-11-06 00:01] #1197 closed

[2020-11-06 00:02] JudahGabriel commented on #1009
It was deployed with Bubblewrap 1.7, which is now being used in PWABuilder production.

[2020-11-06 00:02] #1009 closed

[2020-11-06 00:03] JudahGabriel commented on #1219
I'm able to repro the problem. We'll look into this.

[2020-11-06 00:34] LaszloGombos commented on #1052
@rajandimri - sorry that this is taking this much time. Would you be able to share the URL of your PWA so that we can check on it. If you want you can also share with me privately. Thanks.

[2020-11-06 02:50] JamesRao98 commented on #1219
Okay, thanks!

On Thu, Nov 5, 2020 at 7:04 PM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-11-06 04:19] ArunGoyal1974 opened #1220 "Error generating macos package"
I received the following error when generating a package for https://edu-life.in/

[2020-11-06 06:36] rajandimri commented on #1052
Where I can share the URL of my PWA privately with you?

[2020-11-06 06:43] smlparry opened #1221 "Generated APK opening with `//` at the end of path"
**Describe the bug**
When I generate the APK from the pwabuilder website, the generated APK opens my webapp with a `//` at the end of the path

e.g.
Generating with
Host: https://victoriapolice.app-store.fitterapp.app
Start Url: /
Manifest Url: https://victoriapolice.app-store.fitterapp.app/__/app-store-manifest.json

Results in the generated .apk trying to open https://victoriapolice.app-store.fi

[2020-11-06 11:22] allwhite opened #1222 "Android TWA on the Play Store : Input file on a WebView doesn't work"
Hello, Thank you so much for your work.

**Describe the bug**
I created on your app an TWA. I uploaded it on a Play Store. For a few users, the app opens on a webview and not on a TWA.
When you use a webView without authorization to access to the camera or the phone storage, the click on the input file does nothing.

I think, we just need to add the authorization on the app because when you try wi

[2020-11-06 12:22] sensoryapphouse opened #1223 "Rejections of PWA's built with PWABuilder by Google for Play Store"
Was reading your useful article of 20th Oct
https://medium.com/pwabuilder/bringing-chromium-edge-pwas-progressive-web-apps-to-the-microsoft-store-c0bd07914ed9
I noticed you got 3 PWAs into the Android store. We managed to get a few in also, but the last 4 or 5 apps have been rejected, and even after appeal they aren't allowing them in. This is despite the apps being PWA rebuilds of Chrome Webstore

[2020-11-06 14:56] davrous commented on #1223
Hi!

Did you submit your PWA as a TWA (Trust Web Activity) in the PlayStore? This is how you should now publish PWA to the Play Store. We have written an article about the way to do that using PWA Builder here: https://medium.com/pwabuilder/microsoft-and-google-team-up-to-make-pwas-better-in-the-play-store-b59710e487 and I've written a small tutorial here too: https://www.davrous.com/2020/02/07/pu

[2020-11-06 15:07] davrous commented on #1222
Hi,

Thanks for your feedback. I'm not sure to get your current issue. What do you mean by "for a few users, the app opens on a webview and not on a TWA"? For which kind of users does it fail?

And do you mean that:  https://play.google.com/store/apps/details?id=com.snc.test.webview2&hl=fr&gl=US is a native app with a webview and works whereas https://play.google.com/store/apps/details?id=com.webv

[2020-11-06 16:51] andreban commented on #1223
It seems your app is targeting children and falling under the Play for Families policy, which is incompatible with Trusted Web Activity. Check out the documentation here: https://web.dev/using-a-pwa-in-your-android-app/#quality-criteria and the issue here https://github.com/GoogleChrome/android-browser-helper/issues/139.

[2020-11-06 16:54] andreban commented on #1222
What's the fallback approach selected when the Trusted Web Activity was created? Custom Tabs is default and recommended one, due to better compatibility with web APIs. WebView works in most cases, but the Android WebView is not 100% compatible with web apis. Check out the docs here: https://web.dev/web-on-android/#the-in-app-browser-challenge

[2020-11-06 19:20] sensoryapphouse commented on #1223
Thanks David and @andreban for the responses. We did submit as TWA using PWABuilder, so it clearly looks like a policy issue. Andre provides the answer to the situation via the https://github.com/GoogleChrome/android-browser-helper/issues/139 thread. We were clearly being told that there was a policy issue, but the wording was a little too broad. At this point we are unsure which path to take, but

[2020-11-06 19:51] #1223 closed

[2020-11-06 20:14] JudahGabriel commented on #1221
I'm able to repro. Investigating this now.

[2020-11-06 20:19] JudahGabriel commented on #1221
I've found the cause of the issue and am working on a fix now.

[2020-11-06 20:23] JudahGabriel commented on #1221
@smlparry We'll have a fix later today.

In the meantime, one way you can work around this is, when you go to generate your Android app in PWABuilder, click options. In the Host field, remove the trailing slash:

![image](https://user-images.githubusercontent.com/312936/98411429-e05f7680-202a-11eb-9c49-20a95a4e3427.png)

[2020-11-06 20:35] andreban commented on #1223
CC @b1tr0t

[2020-11-06 20:38] andreban commented on #1223
@sensoryapphouse, would you mind also adding this comment to https://github.com/GoogleChromeLabs/svgomg-twa/issues/67.

[2020-11-06 23:54] smlparry commented on #1221
Amazing! Thanks for the quick response.

I think i tried that and it still didn't work, but I may have done
something wrong

Will test again later today, thanks again :)

On Sat, 7 Nov 2020, 7:24 am Judah Gabriel Himango, <notifications@github.com>
wrote:

[2020-11-08 12:01] allwhite commented on #1222
Thanks for your feedback.

Just a reminder, in my app, users need to upload a file.

To create my app on the pwa builder, I used the functionnality "Download your PWA package for Google Play" and in the options, I selected Custom Tabs to create a TWA (the default) and the app works perfectly.

But a few users (4 persons on 1000) called me and told me "the upload button doesn't do anything, when I

[2020-11-08 22:40] IgorBraga21 commented on #1216
@JudahGabriel
https://prnt.sc/vfribz
https://prnt.sc/vfrii6

[2020-11-08 22:43] sensoryapphouse opened #1224 "Error generating windows10 new Edge Chromium package"
I received the following error when generating a package for https://www.sensoryapphouse.com/abstract4-pwa-xbox/index.html - am using the new chromium edge Platform Preview, and have been getting these type of errors for a week or so. Not sure if I need to change something in the PWA build, but the build did convert of for regular Edge app and upload to store. Am i doing something wrong now? I not

[2020-11-09 16:59] jgw96 commented on #1215
@JudahGabriel correct me if im wrong, but this is released now right? @keved93 are you able to confirm that it works now if you generate a new Android package?

[2020-11-09 17:19] lee-leonardo commented on #1220
@ArunGoyal1974 your source paths in your icons list in the manifest are [embedded], which will fail.
It looks like you've copied our generated manifest with generated icons, please download the images and put the paths in the intended place, correcting those urls.

[2020-11-09 17:23] lee-leonardo commented on #1219
The issue seems to be the url paths to the images, these are the locations our code will look at:
https://plantingbuddy.com/images/icons/icon-192x192.png
https://plantingbuddy.com/images/icons/icon-512x512.png

The easiest change would be on your end to either edit the 'src' of the url or the 'start_url'.

[2020-11-09 17:33] LaszloGombos commented on #1052
Reached out to Rajan privately.

[2020-11-09 18:21] Revan1221 opened #1226 "Error generating androidTWA package"
I received the following error when generating a package for https://fin-dopomoga.pp.ua/#home

[2020-11-09 18:27] JudahGabriel commented on #1226
Hi @Revan1221,

The issue is your [SSL certificate is misconfigured](https://www.sslshopper.com/ssl-checker.html#hostname=https://fin-dopomoga.pp.ua).

![image](https://user-images.githubusercontent.com/312936/98581155-e9905380-2275-11eb-8be0-eaf377636f5b.png)

Because of this, we're unable to fetch your app icon. Please fix this issue on your end, then it should work fine.

[2020-11-09 18:27] #1226 closed

[2020-11-09 18:29] JudahGabriel commented on #1224
Thanks for the bug report. Investigating.

[2020-11-09 18:30] JudahGabriel commented on #1224
I've found the cause of the issue and I'm working on a fix now.

[2020-11-09 19:03] sensoryapphouse commented on #1224
great, glad to know i wasn't doing anything wrong. Thanks for the fast response

[2020-11-09 19:35] Revan1221 commented on #1226
Thank you. Problem solved

[2020-11-09 21:10] IgorBraga21 opened #1229 "Not detect your service worker"
We could not detect your service worker. If you are sure you have a Service Worker registered you may move forward, however be aware that your Service Worker may be caching more data than necessary.

Bug: https://prnt.sc/vgcfhk
Bug 2: https://prnt.sc/vgcft6

[2020-11-09 21:11] IgorBraga21 commented on #1229
website: https://noodig.com.br

[2020-11-09 21:35] JudahGabriel commented on #1222
The users who are hitting this problem are using "Chrome mobile WebView" - is this inside the PWA? Or are they accessing your site via e.g. Facebook embedded browser?

[2020-11-09 21:35] JudahGabriel commented on #1222
Our Android platform lets you download the source code. Feel free to add those extra authorizations yourself to your source.

[2020-11-09 21:41] JudahGabriel commented on #1221
This has been fixed and deployed to production. I was able to generate your app successfully, and I was able to load your app successfully on my Android device. 👍

[2020-11-09 21:41] #1221 closed

[2020-11-09 21:43] JudahGabriel commented on #1216
Yep, still working on this. I'll post here when we have an update.

[2020-11-09 21:46] JudahGabriel commented on #1229
@IgorBraga21, you already have an issue [opened here](https://github.com/pwa-builder/PWABuilder/issues/1216). There is no need to open a duplicate issue.

[2020-11-09 21:46] #1229 closed

[2020-11-10 00:09] JudahGabriel commented on #1215
@jgw96 Good question. It was merged into Bubblewrap on October 29. Has it been released in a public Bubblewrap yet? I don't think so. We're running Bubblewrap 1.7, the latest version, which was released a month ago. So I don't think this fix has made it in to a public stable Bubblewrap yet.

[2020-11-10 00:20] JudahGabriel commented on #1219
Closing this, as the images are missing. Browsers are unable to find them as well. @JamesRao98 please add those images to your site, then try again.

@lee-leonardo Can we get a better error message for this?

[2020-11-10 00:20] #1219 closed

[2020-11-10 00:20] #1220 closed

[2020-11-10 00:47] JamesRao98 commented on #1219
Thanks!

On Mon, Nov 9, 2020 at 7:20 PM Judah Gabriel Himango <
notifications@github.com> wrote:

[2020-11-10 10:17] acharya1988 opened #1231 "Error generating androidTWA package"
I received the following error when generating a package for https://kalpatantra.org/welcome

[2020-11-10 12:46] Ajesh-k commented on #854
This issue is fixed. Verified on OS Version: 20251.1, Anaheim Browser Version: 88.0.685.3 (Official build) dev (64-bit). Hence, closing this issue.

[2020-11-10 12:46] #854 closed

[2020-11-10 12:55] Ajesh-k commented on #824
@lee-leonardo This issue is partially fixed. Now, the focus indicator is not visible on 'Components', 'Demo' and 'Install Apps' buttons. Verified on OS Version: 20251.1, Anaheim Browser Version: 88.0.685.3 (Official build) dev (64-bit). Please refer the attachment, "824_issue.wmv".
[824_issue.zip](https://github.com/pwa-builder/PWABuilder/files/5517342/824_issue.zip)